@charset "utf-8";
// ===================================================================
//	common_sp.css
// ===================================================================
.show_pc {
  display: none !important;
}

.row {
  padding: 0 vw(30);
}

.head_tt{
	font-family: 'book_antiquabold';
	font-size: vw(42);
	line-height: 1;
	letter-spacing: vw(9);
	margin-bottom: vw(10);
	text-align: center;
	&:before{
		content: '';
		width: vw(100);
		height: vw(6);
		background: #000;
		display: block;
		margin: 0 auto vw(40);
	}
}
.sub_stt{
	text-align: center;
	font-size: vw(24);
	line-height: 1;
	font-weight: bold;
	color: #000000;
	display: block;
    margin: 0 auto vw(62);
    padding: vw(9) vw(20);
    width: fit-content;
    letter-spacing: 1px;
}
.contact_box{
	background: $color;
	padding: vw(40) vw(20);
	p{
		font-size: vw(26);
		line-height: 1.5;
		color: #fff;
		font-family: Meiryo, sans-serif;
		text-align: center;
		margin-bottom: vw(30);
	}
	&_inner{
		&_phone{
	    background: #fff;
	    padding: vw(20) vw(10);
	    text-align: left;
	    display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: vw(40);
	    &:before{
				content: '';
				width: vw(68);
				height: vw(52);
				background: url(../images/ic_phone_pink.png) no-repeat;
				background-size: contain;
				display: inline-block;
				margin-right: vw(30);
	    }
			a{
				display: block;
				line-height: 0.8;
				pointer-events: none;
				color: $color;
				font-family: 'book_antiquabold';
				font-size: vw(48);
				line-height: 1;
			}
			em{
				font-style: normal;
				display: block;
				font-size: vw(24);
				line-height: 1.5;
				font-family: Meiryo, sans-serif;
				color: $color;
			}
		}
		&_mail{
		  background: #fff;
			a{
				display: block;
				pointer-events: none;
				color: $color;
				font-size: vw(26);
				line-height: 1;
				text-align: center;
  			padding: vw(40) 0;
  			font-family: Meiryo, sans-serif;
  			display: flex;
  			align-items: center;
  			justify-content: center;
  			&:before{
					content: '';
					width: vw(44);
					height: vw(36);
					background: url(../images/ic_mail.png) no-repeat;
					background-size: contain;
					display: block;
					margin-right: vw(30);
					top: -1px;
					position: relative;
		    }
			}
		}
	}
}
.qa_list{
	dt{
		background: #464646;
		color: #fff;
		font-size: vw(26);
		line-height: 1.5;
		font-family: Meiryo, sans-serif;
		padding: vw(20) vw(20) vw(20) vw(55);
		font-weight: 500;
		position: relative;
		&:before{
			content: 'Q.';
			position: absolute;
			top: vw(18);
			left: vw(20);
		}
	}
	dd{
		padding: vw(20) vw(20) vw(20) vw(55);
		font-size: vw(24);
		line-height: 2;
		font-family: Meiryo, sans-serif;
		color: #000;
		position: relative;
		&:before{
			content: 'A.';
			position: absolute;
			top: vw(20);
			left: vw(20);
		}
	}
}