@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.row{
	margin: 0 auto;
    max-width: 981px;
    width: 100%;
}
.container{
  min-width: 981px;
  overflow: hidden;
}

.head_tt{
	font-family: 'book_antiquabold';
	font-size: 3.2rem;
	line-height: 1;
	letter-spacing: 9px;
	margin-bottom: 5px;
	text-align: center;
	&:before{
		content: '';
		width: 50px;
		height: 3px;
		background: #000;
		display: block;
		margin: 0 auto 40px;
	}
}
.sub_stt{
	text-align: center;
	font-size: 1.4rem;
	line-height: 1;
	font-weight: bold;
	color: #000000;
	display: block;
    margin: 0 auto 62px;
    padding: 9px 20px;
    width: fit-content;
    letter-spacing: 1px;
}
.contact_box{
	background: $color;
	padding: 30px 20px;
	p{
		font-size: 1.6rem;
		line-height: 1.5;
		color: #fff;
		font-family: Meiryo, sans-serif;
		text-align: center;
		margin-bottom: 30px;
	}
	&_inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: -10px;
		margin-left: -10px;
		&_phone{
			width: 50%;
	    background: #fff;
	    padding: 9px 10px 8px;
	    text-align: left;
	    margin: 0 10px;
	    display: flex;
			align-items: center;
			justify-content: center;
	    &:before{
				content: '';
				width: 34px;
				height: 26px;
				background: url(../images/ic_phone_pink.png) no-repeat;
				background-size: contain;
				display: inline-block;
				margin-right: 20px;
	    }
			a{
				display: block;
				line-height: 0.8;
				pointer-events: none;
				color: $color;
				font-family: 'book_antiquabold';
				font-size: 3.8rem;
				line-height: 1;
			}
			em{
				font-style: normal;
				display: block;
				font-size: 1.4rem;
				line-height: 1.5;
				font-family: Meiryo, sans-serif;
				color: $color;
			}
		}
		&_mail{
			width: 50%;
			margin: 0 10px;
		  background: #fff;
			a{
				display: block;
				pointer-events: none;
				color: $color;
				font-size: 1.6rem;
				line-height: 1;
				text-align: center;
  			padding: 30px 0;
  			font-family: Meiryo, sans-serif;
  			display: flex;
  			align-items: center;
  			justify-content: center;
  			&:before{
					content: '';
					width: 22px;
					height: 18px;
					background: url(../images/ic_mail.png) no-repeat;
					background-size: contain;
					display: block;
					margin-right: 20px;
					top: -1px;
					position: relative;
		    }
			}
		}
	}
}
.qa_list{
	dt{
		background: #464646;
		color: #fff;
		font-size: 1.6rem;
		line-height: 1.5;
		font-family: Meiryo, sans-serif;
		padding: 8px 20px 8px 45px;
		font-weight: 500;
		position: relative;
		&:before{
			content: 'Q.';
			position: absolute;
			top: 7px;
			left: 20px;
		}
	}
	dd{
		padding: 20px 20px 20px 45px;
		font-size: 1.4rem;
		line-height: 2;
		font-family: Meiryo, sans-serif;
		color: #000;
		position: relative;
		&:before{
			content: 'A.';
			position: absolute;
			top: 20px;
			left: 20px;
		}
	}
}