.footer{
	.ft_top{
		background: #ececec;
		padding: 30px 0;
		.row{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.ft_top_left{
				.ft_logo{
					a{
						display: block;
						line-height: 0;
						img{
							width: 191px;
							height: auto;
						}
					}
				}
			}
			.ft_top_right{
				display: flex;
				align-items: center;
				justify-content: space-between;
				.ft_contact{
					margin-right: 20px;
					padding-top: 5px;
					a{
 						pointer-events: none;
 						display: block;
						font-family: 'book_antiquabold';
						font-size: 3.6rem;
						line-height: 1;
						letter-spacing: 1px;
					}
					em{
						font-style: normal;
						display: block;
						text-align: right;
					}
				}
			}
			.ft_btn{
				a{
					width: 350px;
					font-size: 1.4rem;
					line-height: 1;
					background: $color;
					display: flex;
					align-items: center;
					justify-content: space-around;
					color: #fff;
					padding: 23px;
					&:after{
						content: '';
						width: 8px;
						height: 12px;
						background: url(../images/ic_arrow.png) no-repeat;
						background-size: contain;
						display: inline-block;
						transform: translateX(0);
						transition: transform .5s ease-out;
					}
					&:hover{
						&:after{
							transform: translateX(5px);
						}
					}
				}
			}
		}
	}
	.copyright{
		background: #000;
		text-align: center;
		p{
			padding: 13px 0;
			color: #fff;
			font-size: 1.4rem;
			line-height: 1;
		}
	}
}