.footer{
	.ft_top{
		background: #ececec;
		padding: vw(40) 0;
		text-align: center;
		.row{
			.ft_top_left{
				margin-bottom: vw(30);
				.ft_logo{
					a{
						display: block;
						line-height: 0;
						img{
							width: vw(382);
							height: auto;
							margin: 0 auto;
						}
					}
				}
			}
			.ft_top_right{
				.ft_contact{
					margin-bottom: vw(30);
					text-align: center;
					a{
						display: block;
						line-height: 0;
   					margin-bottom: vw(10);
						font-family: 'book_antiquabold';
						font-size: vw(46);
						line-height: 1;
						letter-spacing: 1px;
					}
					em{
						font-style: normal;
						display: block;
						font-size: vw(30);
					}
				}
			}
			.ft_btn{
				a{
					width: 100%;
					font-size: vw(30);
					line-height: 1;
					background: $color;
					display: flex;
					align-items: center;
					justify-content: space-around;
					color: #fff;
					padding: vw(40) vw(23);
					&:after{
						content: '';
						width: vw(16);
						height: vw(24);
						background: url(../images/ic_arrow.png) no-repeat;
						background-size: contain;
						display: inline-block;
					}
				}
			}
		}
	}
	.copyright{
		background: #000;
		text-align: center;
		p{
			padding: vw(30) 0;
			color: #fff;
			font-size: vw(30);
			line-height: 1;
		}
	}
}