.header{
	background: #000;
	padding: 20px 0 0;
	.hd_top{
		.row{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.hd_logo{
				a{
					img{
						width: 179px;
						height: auto;
					}
				}
			}
			.hd_contact{
				display: flex;
				align-items: center;
				em{
					color: #fff;
					font-style: normal;
					font-size: 1.4rem;
					line-height: 1;
				}
				a{
					color: #fff;
					font-size: 2.4rem;
					line-height: 0;
					pointer-events: none;
					font-weight: bold;
					position: relative;
					border: 1px solid #fff;
					display: flex;
			    align-items: center;
			    padding: 5px 10px 5px 45px;
			    margin-left: 10px;
					&:before{
						content: '';
						width: 40px;
						height: 30px;
						background: #fff url(../images/ic_phone.png) no-repeat;
						background-size: contain;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
	.hd_bottom{
		.nav{
			ul{
				display: flex;
				align-items: center;
				justify-content: space-between;
				li{
					a{
						font-size: 1.6rem;
						line-height: 1;
						color: #fff;
						position: relative;
						transform: translateZ(0);
						padding: 23px 0;
						display: inline-block;
						&:after{
					    position: absolute;
					    content: "";
					    width: 20px;
					    height: 20px;
					    border-radius: 50%;
					    display: block;
					    background: $color;
					    left: 0;
					    right: 0;
					    top: 34%;
					    margin: 0 auto;
					    opacity: 0;
					    transform: translate3d(0, 50px, 0) scale(0);
					    transition-property: all;
					    transition-duration: .6s;
					    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
					    z-index: -1;
						}
						&:hover{
							opacity: 1;
							&:after {
						    opacity: 1;
						    transform: translate3d(0, 0px, 0) scale(1);
						  }
						}
					}
				}
			}
		}
	}
	&.fixed{
		.hd_bottom {
	    position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    background: #000;
	    z-index: 199;
	    transform: translate3d(0, 0, 0);
	    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
	    min-width: 1200px;
		}
	}
}