.header{
  background: #000;
  padding: vw(40) 0;
  .hd_top{
    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .hd_logo{
        a{
          display: block;
          line-height: 0;
          img{
            width: vw(358);
            height: auto;
          }
        }
      }
      .menu {
        &.open {
          .icon_menu {
            .icon_inner {
              transition-delay: .1s;
              transform: translate3d(0,vw(18),0) rotate(135deg);
              &::before {
                transition-delay: 0s;
                opacity: 0;
              }
              &::after {
                transition-delay: .1s;
                transform: translate3d(0,vw(-36),0) rotate(-270deg);
              }
            }
          }
        }
        .icon_menu {
          position: relative;
          width: vw(54);
          height: vw(40);
          cursor: pointer;
          %menu_sp {
            position: absolute;
            width: 100%;
            height: vw(4);
            transition-timing-function: ease;
            transition-duration: .1s;
            transition-property: transform;
            background: #fff;
          }
          .icon_inner {
            @extend %menu_sp;
            transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
            transition-duration: .4s;
            display: block;
            top: 0;
            left: 0;
            &::before,&::after {
              content: "";
              display: block;
            }
            &::before {
              top: vw(18);
              transition: opacity .15s ease .4s;
              @extend %menu_sp;
            }
            &::after {
              top: vw(36);
              transition: transform .4s cubic-bezier(.68,-.55,.265,1.55);
              @extend %menu_sp;
            }
          }
        }
      }
    }
  }
  .hd_bottom{
    .nav{
      position: absolute;
      left: 0;
      z-index: 999;
      width: 100%;
      overflow: scroll;
      visibility: visible;
      transition: height 0.3s;
      background: rgba(0,0,0,1);
      overflow: scroll;
      opacity: 0;
      backface-visibility: hidden;
      transition: all 0.5s ease;
      &.open{
        opacity: 1;
        backface-visibility: visible;
        visibility: visible;
      }
      ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
          flex: 0 0 100%;
          width: 100%;
          a{
            font-size: vw(30);
            line-height: 1;
            color: #fff;
            display: block;
            text-align: center;
            padding: vw(40) 0;
          }
          &:not(:last-child){
            a{
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }
}