@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@font-face {
    font-family: 'book_antiquabold';
    src: url('../fonts/book_antiqua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
body {
  font-feature-settings : "palt";
}
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  //font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: rem(14);
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}
div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}
figure,picture {
  font-size: 0;
}
picture {
  display: block;
}
* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
.df {
  display: flex;
}
.flw {
  flex-wrap: wrap;
}
.jc_sb {
  justify-content: space-between;
}
.jc_c {
  justify-content: center;
}
.ai_c {
  align-items: center;
}

//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_header_pc.scss";
  @import "./_footer_pc.scss";
  @import "./_common_pc.scss";
}

@include max-screen() {
  @import "./_header_sp.scss";
  @import "./_footer_sp.scss";
  @import "./_common_sp.scss";
}

.effect {
  transition: all 1s ease;
}
.delay_03 {
  transition: all 1s ease 0.3s;
}
.delay_06 {
  transition: all 1s ease 0.6s;
}
.delay_09 {
  transition: all 1s ease 0.9s;
}
.delay_12 {
  transition: all 1s ease 1.2s;
}
.delay_15 {
  transition: all 1s ease 1.5s;
}
.fadeIn {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
.slideUp {
  transform: translate3d(0,100px,0);
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.slideToRight {
  transform: translate3d(-100px,0,0);
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.slideToLeft {
  transform: translate3d(100px,0,0);
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.maskToRight {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d(0,0,0);
    background: #fff;
    transition: all 0.8s linear 0.6s;
    z-index: 2;
  }
  &.active {
    &::before {
      transform: translate3d(100%,0,0);
      // transform: matrix(1, 0, 0, 1, 1280, 0);
    }
  }
}
.waveText {
  display: inline-block;
  will-change: transform;
  animation-name: waveText;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}