@media screen and (min-width: 769px), print {
  .load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out, z-index 0s ease-in-out 1s;
    -moz-transition: opacity 1s ease-in-out, z-index 0s ease-in-out 1s;
    transition: opacity 1s ease-in-out, z-index 0s ease-in-out 1s;
    overflow: hidden;
  }
  .load:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.46);
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    -moz-transition: transform, -moz-transform;
    transition: transform;
    transition: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .load i {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    margin: -5rem 0 0 -5rem;
    -moz-border-radius: 50%;
         border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
       -moz-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
  }
  .load i:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
       -moz-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  .load i:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
       -moz-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  .load.end {
    opacity: 0;
    z-index: -1;
  }
  .load.end:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .banner {
    position: relative;
  }
  .banner figure img {
    width: 100%;
  }
  .banner_ct {
    position: absolute;
    top: 46%;
    left: 20%;
    -webkit-transform: translateY(-54%);
       -moz-transform: translateY(-54%);
        -ms-transform: translateY(-54%);
            transform: translateY(-54%);
    width: 355px;
  }
  .banner_ct h2 {
    font-family: 'book_antiquabold';
    font-size: 4.8rem;
    line-height: 1;
    color: #fff;
    letter-spacing: 8.5px;
    margin-bottom: 15px;
  }
  .banner_ct p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 25px;
  }
  .banner_ct .banner_btn {
    font-size: 3rem;
    line-height: 1;
    color: #fff;
    background: url(../images/banner_bg.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    display: block;
    text-align: center;
    padding: 9px 0;
  }
  .camp {
    padding: 40px 0 55px;
    background: #f4f4f4;
  }
  .camp_top {
    border: 1px solid #c50082;
    padding: 35px 50px 25px;
    position: relative;
    margin-bottom: 30px;
    background: url(../images/bg_box.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .camp_top h3 {
    color: #fff;
    font-size: 1.8rem;
    font-family: 'book_antiquabold';
    background: #c50082;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 10px;
    line-height: 1;
    letter-spacing: 1px;
  }
  .camp_top_ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .camp_top_ct p {
    font-size: 3rem;
    line-height: 1;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 4px;
    font-weight: bold;
    margin-right: 15px;
  }
  .camp_top_ct p span {
    font-size: 3.8rem;
    line-height: 1;
    background: #ffff00;
    padding: 6px 2px;
    background: url(../images/bg_span.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .camp_top_ct em {
    font-size: 1.8rem;
    line-height: 1;
    color: #fff;
    background: #313131;
    display: inline-block;
    padding: 10px 20px;
    font-style: normal;
    letter-spacing: 1px;
  }
  .camp_bot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .camp_bot a {
    display: block;
    line-height: 0;
  }
  .camp_bot a img {
    width: 460px;
    height: auto;
  }
  .reason {
    background: #fff;
    padding: 80px 0;
  }
  .reason_tt {
    text-align: center;
    font-family: 'book_antiquabold';
    font-size: 3.8rem;
    line-height: 1;
    letter-spacing: 9px;
    margin-bottom: 10px;
  }
  .reason_stt {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background: #313131;
    display: block;
    margin: 0 auto 62px;
    padding: 9px 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: 1px;
  }
  .reason_inner_child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 80px;
  }
  .reason_inner_child.img_right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .reason_inner_child.img_right figure {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .reason_inner_child.img_right .reason_inner_child_ct {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
    margin-right: -85px;
    z-index: 1;
  }
  .reason_inner_child figure {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    width: 55%;
  }
  .reason_inner_child figure img {
    width: 100%;
  }
  .reason_inner_child_ct {
    padding: 18px 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    width: 45%;
    margin-left: -85px;
    background: #fff;
    margin-top: 100px;
    z-index: 1;
  }
  .reason_inner_child_ct h4 {
    font-size: 2.2rem;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
  }
  .reason_inner_child_ct h4:before {
    content: attr(data-num);
    display: block;
    width: 78px;
    height: 78px;
    border: 1px solid #000;
    -moz-border-radius: 100%;
         border-radius: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.4rem;
    line-height: 1;
    margin-bottom: 20px;
  }
  .reason_inner_child_ct p {
    color: #313131;
    font-size: 1.4rem;
    line-height: 3rem;
    margin-bottom: 40px;
    font-family: Meiryo, sans-serif;
  }
  .price {
    padding: 80px 0;
    background: #ececec;
  }
  .price_inner {
    background: #fff;
    padding: 50px 140px;
  }
  .price_inner h4 {
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .price_inner_bl {
    margin-bottom: 60px;
  }
  .price_inner_bl_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .price_inner_bl_top figure {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-top: 20px;
  }
  .price_inner_bl_top figure img {
    width: 207px;
    height: auto;
  }
  .price_inner_bl_top .price_inner_bl_ct {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .price_inner_bl_top .price_inner_bl_ct dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
  }
  .price_inner_bl_top .price_inner_bl_ct dl dt {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    width: 105px;
    font-weight: 500;
  }
  .price_inner_bl_top .price_inner_bl_ct dl dd {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
  }
  .price_inner_bl_bot h5 {
    font-size: 1.8rem;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    text-align: center;
    margin-bottom: 10px;
  }
  .price_inner_bl_bot table {
    border-collapse: collapse;
    border: 1px solid #dbdbdb;
    width: 100%;
    text-align: center;
  }
  .price_inner_bl_bot table tr th {
    border: 1px solid #dbdbdb;
    font-size: 1.6rem;
    line-height: 1;
    color: #000;
    padding: 17px 10px;
    vertical-align: middle;
    width: 139px;
    font-family: Meiryo, sans-serif;
  }
  .price_inner_bl_bot table tr td {
    border: 1px solid #dbdbdb;
    font-size: 1.6rem;
    line-height: 1;
    color: #000;
    padding: 17px 10px;
    vertical-align: middle;
    width: 139px;
    font-family: Meiryo, sans-serif;
  }
  .price_inner_bl_bot table tr .t_main {
    background: #eceae8;
  }
  .price_inner .note {
    color: #c50082;
    font-size: 1.6rem;
    line-height: 2;
    text-align: center;
  }
  .price .price_btn {
    display: block;
  }
  .price .price_btn a {
    display: block;
    font-size: 2.6rem;
    line-height: 1;
    color: #fff;
    background: #c50082;
    text-align: center;
    padding: 22px 20px;
  }
  .products {
    background: #ececec;
    padding: 80px 0;
  }
  .products_inner {
    padding: 0 79px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -48px;
    margin-right: -48px;
  }
  .products_inner li {
    padding: 0 48px;
    margin-bottom: 20px;
    width: 33.3%;
  }
  .products_inner li a {
    display: block;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }
  .products_inner li a figure {
    line-height: 0;
    width: 100%;
  }
  .products_inner li a figure img {
    width: auto;
    height: 240px;
    margin: 0 auto 10px;
    display: block;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }
  .products_inner li a figure figcaption {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    text-align: center;
    min-height: 42px;
  }
  .products_inner li a:hover {
    opacity: 0.6;
  }
  .products_inner li a:hover img {
    opacity: 0.6;
  }
  .voice {
    padding: 80px 0;
  }
  .voice_inner_child {
    margin-bottom: 60px;
  }
  .voice_inner_child_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .voice_inner_child_top_left {
    padding: 0 30px 0 10px;
  }
  .voice_inner_child_top_left .voice_inner_child_tt {
    font-size: 2rem;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .voice_inner_child_top_left .voice_inner_child_note {
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .voice_inner_child_top_left .voice_inner_child_note:before {
    content: '';
    width: 20px;
    height: 16px;
    background: url(../images/ic_aq.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-right: 10px;
  }
  .voice_inner_child_top_left .btn_voice {
    display: block;
  }
  .voice_inner_child_top_left .btn_voice a {
    display: block;
    width: 245px;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    background: #c50082;
    border: 1px solid #c50082;
    text-align: center;
    padding: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .voice_inner_child_top_left .btn_voice a:hover {
    color: #c50082;
    background: #fff;
  }
  .voice_inner_child_top figure {
    width: 440px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 440px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 440px;
            flex: 0 0 440px;
  }
  .voice_inner_child_top figure img {
    width: 100%;
    height: auto;
  }
  .voice_inner_child_ct {
    border: 2px dotted #b9b9b9;
    -moz-border-radius: 8px;
         border-radius: 8px;
    padding: 0 30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
    overflow: hidden;
    height: 0;
  }
  .voice_inner_child_ct.open {
    height: 100%;
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    padding: 50px 30px 0;
  }
  .voice_inner_child_ct p {
    margin-bottom: 45px;
    font-size: 1.4rem;
    line-height: 2;
    font-family: Meiryo, sans-serif;
  }
  .voice_inner_child_ct p strong {
    color: #c50082;
    font-weight: 500;
  }
  .voice_inner_child_ct figure {
    float: left;
    margin-right: 45px;
    margin-bottom: 20px;
    width: 440px;
  }
  .voice_inner_child_ct figure img {
    width: 100%;
    height: auto;
  }
  .guide {
    background: #ececec;
    padding: 80px 0;
  }
  .guide_inner h4 {
    font-size: 2.4rem;
    line-height: 1;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .guide_inner .guide_b1 {
    background: #fff;
    border: 1px solid #5b5b5b;
    padding: 39px 20px;
    margin-bottom: 40px;
  }
  .guide_inner .guide_b1 h5 {
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    font-family: Meiryo, sans-serif;
    margin-bottom: 30px;
  }
  .guide_inner .guide_b1 .qa_list:after {
    content: '';
    width: 32px;
    height: 23px;
    background: url("../images/ic_arrow.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    margin: 0 auto 30px;
  }
  .guide_inner .guide_b1 .note {
    color: #de2525;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    font-family: Meiryo, sans-serif;
    margin-bottom: 20px;
  }
  .guide_inner .guide_b1 .guide_btn {
    text-align: center;
    margin-bottom: 30px;
  }
  .guide_inner .guide_b1 .guide_btn a {
    font-size: 1.6rem;
    color: #fff;
    line-height: 1;
    background: #464646;
    text-align: center;
    display: inline-block;
    width: 292px;
    padding: 19px 20px;
    border: 1px solid #464646;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .guide_inner .guide_b1 .guide_btn a:hover {
    color: #464646;
    background: #fff;
  }
  .guide_inner .guide_b2 {
    background: #fff;
    border: 1px solid #5b5b5b;
    padding: 39px 20px;
    margin-bottom: 40px;
  }
  .guide_inner .guide_b2 dl dt {
    background: #464646;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    padding: 8px 20px;
    font-weight: 500;
    position: relative;
  }
  .guide_inner .guide_b2 dl dd {
    padding: 20px;
    position: relative;
  }
  .guide_inner .guide_b2 dl dd p {
    font-size: 1.4rem;
    line-height: 2;
    font-family: Meiryo, sans-serif;
    color: #000;
    margin-bottom: 20px;
  }
  .guide_inner .guide_b2 dl dd p strong {
    color: #de2525;
  }
  .guide_inner .guide_b2 dl dd span {
    padding: 20px;
    background: #ececec;
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    color: #462f21;
    font-family: Meiryo, sans-serif;
  }
  .guide_inner .guide_b2 dl dd span em {
    font-size: 1.8rem;
    line-height: 1;
    color: #462f21;
    border-bottom: 1px solid #000;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    padding-bottom: 5px;
    font-style: normal;
  }
  .qa {
    padding: 80px 0;
  }
  .qa_inner {
    border: 1px solid #5e5e5e;
    padding: 30px 40px 10px;
  }
  .qa_inner .qa_list:not(:last-child) {
    margin-bottom: 30px;
  }
  .qa_inner .qa_list dt {
    background: #ececec;
    color: #000;
  }
  .qa_inner .qa_list dd p {
    margin-bottom: 40px;
  }
  .flow {
    background: #ececec;
    padding: 80px 0;
  }
  .flow_inner {
    counter-reset: number;
  }
  .flow_inner dl {
    border: 1px solid #000;
    margin-bottom: 60px;
  }
  .flow_inner dl:not(:last-child) {
    position: relative;
  }
  .flow_inner dl:not(:last-child):after {
    content: '';
    width: 32px;
    height: 23px;
    background: url("../images/ic_arrow.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    position: absolute;
    bottom: -44px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .flow_inner dl dt {
    font-size: 1.8rem;
    line-height: 1;
    color: #fff;
    background: #464646;
    font-weight: bold;
    padding: 11px 20px;
  }
  .flow_inner dl dt:before {
    counter-increment: number;
    content: counter(number) ". ";
  }
  .flow_inner dl dd {
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flow_inner dl dd figure {
    width: 260px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 260px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
  }
  .flow_inner dl dd figure img {
    width: 100%;
    height: auto;
  }
  .flow_inner dl dd .flow_ct {
    padding-right: 40px;
  }
  .flow_inner dl dd .flow_ct p {
    margin-bottom: 40px;
    font-size: 1.4rem;
    line-height: 2;
    font-family: Meiryo, sans-serif;
  }
  .contact {
    background: #fff;
    padding: 40px 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    position: relative;
  }
  .banner figure img {
    width: 100%;
  }
  .banner figure:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .banner_ct {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 13.02083vw;
  }
  .banner_ct h2 {
    font-family: 'book_antiquabold';
    font-size: 9.76563vw;
    line-height: 1;
    color: #fff;
    letter-spacing: 1.10677vw;
    margin-bottom: 1.95313vw;
  }
  .banner_ct p {
    font-size: 3.25521vw;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 3.25521vw;
  }
  .banner_ct .banner_btn {
    font-size: 5.20833vw;
    line-height: 1;
    color: #fff;
    background: url(../images/banner_bg.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    display: block;
    text-align: center;
    padding: 1.17188vw 0;
  }
  .camp {
    padding: 7.16146vw 0;
    background: #f4f4f4;
  }
  .camp_top {
    border: 1px solid #c50082;
    padding: 0;
    position: relative;
    margin-bottom: 3.90625vw;
    background: url(../images/bg_box.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .camp_top h3 {
    color: #fff;
    font-size: 3.64583vw;
    font-family: 'book_antiquabold';
    background: #c50082;
    display: block;
    text-align: center;
    padding: 2.60417vw 1.30208vw;
    line-height: 1;
    letter-spacing: 1px;
  }
  .camp_top_ct {
    text-align: center;
    padding: 3.90625vw 2.60417vw;
  }
  .camp_top_ct p {
    font-size: 5.20833vw;
    line-height: 1;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0.52083vw;
    font-weight: bold;
    margin-bottom: 2.60417vw;
  }
  .camp_top_ct p span {
    font-size: 6.25vw;
    line-height: 1;
    background: #ffff00;
    padding: 0.78125vw 0.26042vw;
    background: url(../images/bg_span.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .camp_top_ct em {
    font-size: 3.64583vw;
    line-height: 1;
    color: #fff;
    background: #313131;
    display: block;
    padding: 2.60417vw;
    font-style: normal;
    letter-spacing: 1px;
  }
  .camp_bot {
    background: #fff;
    padding: 20px;
  }
  .camp_bot a {
    display: block;
  }
  .camp_bot a:not(:last-child) {
    margin-bottom: 2.60417vw;
  }
  .camp_bot a img {
    width: 100%;
    height: auto;
  }
  .reason {
    background: #fff;
    padding: 10.41667vw 3.90625vw;
  }
  .reason_tt {
    text-align: center;
    font-family: 'book_antiquabold';
    font-size: 6.25vw;
    line-height: 1;
    letter-spacing: 1.17188vw;
    margin-bottom: 1.95313vw;
  }
  .reason_stt {
    text-align: center;
    font-size: 3.125vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background: #313131;
    display: block;
    margin: 0 auto 8.07292vw;
    padding: 1.17188vw 2.60417vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: 1px;
  }
  .reason_inner_child {
    margin-bottom: 10.41667vw;
  }
  .reason_inner_child figure {
    line-height: 0;
    margin-bottom: 5.20833vw;
  }
  .reason_inner_child figure img {
    width: 100%;
  }
  .reason_inner_child_ct {
    padding: 2.60417vw 6.51042vw;
    background: #fff;
  }
  .reason_inner_child_ct h4 {
    font-size: 4.16667vw;
    line-height: 2;
    color: #000;
    text-align: center;
    margin-bottom: 3.90625vw;
  }
  .reason_inner_child_ct h4:before {
    content: attr(data-num);
    display: block;
    width: 13.02083vw;
    height: 13.02083vw;
    border: 1px solid #000;
    -moz-border-radius: 100%;
         border-radius: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 5.72917vw;
    line-height: 1;
    margin-bottom: 3.90625vw;
  }
  .reason_inner_child_ct p {
    color: #313131;
    font-size: 3.125vw;
    line-height: 2;
    margin-bottom: 5.20833vw;
    font-family: Meiryo, sans-serif;
  }
  .price {
    padding: 10.41667vw 0;
    background: #ececec;
  }
  .price_inner {
    background: #fff;
    padding: 6.51042vw;
  }
  .price_inner h4 {
    font-size: 5.20833vw;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5.20833vw;
  }
  .price_inner_bl {
    margin-bottom: 7.8125vw;
  }
  .price_inner_bl_top {
    margin-bottom: 6.51042vw;
  }
  .price_inner_bl_top figure {
    padding-top: 2.60417vw;
    line-height: 0;
    margin-bottom: 3.90625vw;
  }
  .price_inner_bl_top figure img {
    width: 54.42708vw;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .price_inner_bl_top .price_inner_bl_ct dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 1.95313vw;
    border-bottom: 1px solid #000;
    margin-bottom: 1.95313vw;
  }
  .price_inner_bl_top .price_inner_bl_ct dl dt {
    font-size: 3.38542vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    font-weight: 500;
  }
  .price_inner_bl_top .price_inner_bl_ct dl dd {
    font-size: 3.38542vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
  }
  .price_inner_bl_bot {
    width: 100%;
  }
  .price_inner_bl_bot h5 {
    font-size: 3.64583vw;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    text-align: center;
    margin-bottom: 2.60417vw;
  }
  .price_inner_bl_bot_table {
    overflow-x: scroll;
  }
  .price_inner_bl_bot_table table {
    border-collapse: collapse;
    border: 1px solid #dbdbdb;
    text-align: center;
    width: 130.20833vw;
  }
  .price_inner_bl_bot_table table tr th {
    border: 1px solid #dbdbdb;
    font-size: 3.38542vw;
    line-height: 1;
    color: #000;
    padding: 3.51563vw 1.30208vw;
    vertical-align: middle;
    width: 26.04167vw;
    font-family: Meiryo, sans-serif;
  }
  .price_inner_bl_bot_table table tr td {
    border: 1px solid #dbdbdb;
    font-size: 3.38542vw;
    line-height: 1;
    color: #000;
    padding: 3.51563vw 1.30208vw;
    vertical-align: middle;
    width: 26.04167vw;
    font-family: Meiryo, sans-serif;
  }
  .price_inner_bl_bot_table table tr .t_main {
    background: #eceae8;
  }
  .price_inner .note {
    color: #c50082;
    font-size: 3.38542vw;
    line-height: 2;
    text-align: center;
  }
  .price .price_btn {
    display: block;
  }
  .price .price_btn a {
    display: block;
    font-size: 4.6875vw;
    line-height: 1;
    color: #fff;
    background: #c50082;
    text-align: center;
    padding: 3.90625vw 2.60417vw;
  }
  .products {
    background: #ececec;
    padding: 10.41667vw 0;
  }
  .products_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .products_inner li {
    margin-bottom: 5.20833vw;
  }
  .products_inner li figure {
    line-height: 0;
  }
  .products_inner li figure img {
    width: auto;
    height: 45.57292vw;
    margin: 0 auto 2.60417vw;
    display: block;
  }
  .products_inner li figure figcaption {
    font-size: 3.125vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    text-align: center;
    min-height: 9.375vw;
  }
  .voice {
    padding: 10.41667vw 0;
  }
  .voice_inner_child {
    margin-bottom: 7.8125vw;
  }
  .voice_inner_child_top {
    margin-bottom: 7.8125vw;
  }
  .voice_inner_child_top_left .voice_inner_child_tt {
    text-align: center;
    font-size: 3.90625vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    font-weight: bold;
    margin-bottom: 3.90625vw;
  }
  .voice_inner_child_top_left .voice_inner_child_note {
    font-style: normal;
    font-size: 3.125vw;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    text-align: center;
    margin-bottom: 7.8125vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .voice_inner_child_top_left .voice_inner_child_note:before {
    content: '';
    width: 5.20833vw;
    height: 4.16667vw;
    background: url(../images/ic_aq.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-right: 1.95313vw;
  }
  .voice_inner_child_top_left .btn_voice {
    display: block;
  }
  .voice_inner_child_top_left .btn_voice a {
    display: block;
    width: 100%;
    font-size: 3.38542vw;
    line-height: 1;
    color: #fff;
    background: #c50082;
    text-align: center;
    padding: 2.60417vw;
  }
  .voice_inner_child_top figure {
    margin-bottom: 5.20833vw;
  }
  .voice_inner_child_top figure img {
    width: 100%;
    height: auto;
  }
  .voice_inner_child_ct {
    border: 2px dotted #b9b9b9;
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    padding: 0 3.90625vw;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
    overflow: hidden;
    height: 0;
  }
  .voice_inner_child_ct.open {
    height: 100%;
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    padding: 6.51042vw 3.90625vw 0;
  }
  .voice_inner_child_ct p {
    margin-bottom: 6.51042vw;
    font-size: 3.125vw;
    line-height: 2;
    font-family: Meiryo, sans-serif;
  }
  .voice_inner_child_ct p strong {
    color: #c50082;
    font-weight: 500;
  }
  .voice_inner_child_ct figure {
    margin-bottom: 5.20833vw;
  }
  .voice_inner_child_ct figure img {
    width: 100%;
    height: auto;
  }
  .guide {
    background: #ececec;
    padding: 10.41667vw 0;
  }
  .guide_inner h4 {
    font-size: 4.42708vw;
    line-height: 1;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5.20833vw;
  }
  .guide_inner .guide_b1 {
    background: #fff;
    border: 1px solid #5b5b5b;
    padding: 5.20833vw 2.60417vw;
    margin-bottom: 5.20833vw;
  }
  .guide_inner .guide_b1 h5 {
    font-size: 3.38542vw;
    line-height: 1;
    text-align: center;
    font-family: Meiryo, sans-serif;
    margin-bottom: 5.20833vw;
  }
  .guide_inner .guide_b1 .qa_list:after {
    content: '';
    width: 8.33333vw;
    height: 5.98958vw;
    background: url("../images/ic_arrow.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    margin: 0 auto 5.20833vw;
  }
  .guide_inner .guide_b1 .note {
    color: #de2525;
    font-size: 3.38542vw;
    line-height: 1;
    text-align: center;
    font-family: Meiryo, sans-serif;
    margin-bottom: 3.90625vw;
  }
  .guide_inner .guide_b1 .guide_btn {
    text-align: center;
    margin-bottom: 5.20833vw;
  }
  .guide_inner .guide_b1 .guide_btn a {
    font-size: 3.38542vw;
    color: #fff;
    line-height: 1;
    background: #464646;
    text-align: center;
    display: block;
    padding: 3.90625vw 2.60417vw;
  }
  .guide_inner .guide_b2 {
    background: #fff;
    border: 1px solid #5b5b5b;
    padding: 5.20833vw 2.60417vw;
    margin-bottom: 5.20833vw;
  }
  .guide_inner .guide_b2 dl dt {
    background: #464646;
    color: #fff;
    font-size: 3.38542vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    padding: 2.60417vw;
    font-weight: 500;
    position: relative;
  }
  .guide_inner .guide_b2 dl dd {
    padding: 3.90625vw;
    position: relative;
  }
  .guide_inner .guide_b2 dl dd p {
    font-size: 3.125vw;
    line-height: 2;
    font-family: Meiryo, sans-serif;
    color: #000;
    margin-bottom: 3.90625vw;
  }
  .guide_inner .guide_b2 dl dd p strong {
    color: #de2525;
  }
  .guide_inner .guide_b2 dl dd span {
    padding: 3.90625vw;
    background: #ececec;
    display: block;
    font-size: 3.38542vw;
    line-height: 2;
    color: #462f21;
    font-family: Meiryo, sans-serif;
  }
  .guide_inner .guide_b2 dl dd span em {
    font-size: 3.64583vw;
    line-height: 1;
    color: #462f21;
    border-bottom: 1px solid #000;
    display: block;
    margin-bottom: 2.60417vw;
    font-weight: 500;
    padding-bottom: 1.95313vw;
    font-style: normal;
  }
  .qa {
    padding: 10.41667vw 0;
  }
  .qa_inner {
    border: 1px solid #5e5e5e;
    padding: 6.51042vw 5.20833vw 2.60417vw;
  }
  .qa_inner .qa_list:not(:last-child) {
    margin-bottom: 5.20833vw;
  }
  .qa_inner .qa_list dt {
    background: #ececec;
    color: #000;
  }
  .qa_inner .qa_list dd p {
    margin-bottom: 5.20833vw;
  }
  .flow {
    background: #ececec;
    padding: 10.41667vw 0;
  }
  .flow_inner {
    counter-reset: number;
  }
  .flow_inner dl {
    border: 1px solid #000;
    margin-bottom: 10.41667vw;
  }
  .flow_inner dl:not(:last-child) {
    position: relative;
  }
  .flow_inner dl:not(:last-child):after {
    content: '';
    width: 8.33333vw;
    height: 5.98958vw;
    background: url("../images/ic_arrow.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    position: absolute;
    bottom: -8.46354vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .flow_inner dl dt {
    font-size: 3.64583vw;
    line-height: 1;
    color: #fff;
    background: #464646;
    font-weight: bold;
    padding: 2.60417vw;
  }
  .flow_inner dl dt:before {
    counter-increment: number;
    content: counter(number) ". ";
  }
  .flow_inner dl dd {
    padding: 3.90625vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .flow_inner dl dd figure {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 3.90625vw;
  }
  .flow_inner dl dd figure img {
    width: 67.70833vw;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .flow_inner dl dd .flow_ct {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .flow_inner dl dd .flow_ct p {
    margin-bottom: 5.20833vw;
    font-size: 3.125vw;
    line-height: 2;
    font-family: Meiryo, sans-serif;
  }
  .contact {
    background: #fff;
    padding: 5.20833vw 0;
  }
}
