@media screen and (min-width: 769px), print{
  .ttl_section {
    height: 140px;
    width: 100%;
    background: url(../images/banner.jpg) bottom no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .ttl_section:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
  }
  .ttl_section h2 {
    color: #fff;
    font-size: 2.4rem;
    line-height: 1;
    z-index: 1;
  }
  .breadcrum {
    margin: 10px auto;
  }
  .breadcrum_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .breadcrum_list li {
    font-size: 1rem;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    position: relative;
  }
  .breadcrum_list li a {
    color: #000;
    display: inline-block;
  }
  .breadcrum_list li:not(:last-child) {
    padding-right: 20px;
    margin-right: 10px;
  }
  .breadcrum_list li:not(:last-child):after {
    position: absolute;
    content: "\003e";
    font-size: 1.4rem;
    line-height: 1;
    color: #000;
    top: -2px;
    right: 0;
  }
  .breadcrum_list li:not(:last-child) a {
    color: #c50082;
  }
  .form_inner {
    padding: 50px 0;
  }
  .form_inner_des {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-family: Meiryo, sans-serif;
    color: #333333;
    margin-bottom: 50px;
  }
  .form_inner_main h3 {
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #464646;
    font-family: Meiryo, sans-serif;
    padding: 12px 0;
    margin-bottom: 24px;
  }
  .form_inner_main .form_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 80px;
  }
  .form_inner_main .form_select .shape {
    width: 220px;
    height: 220px;
  }
  .form_inner_main .form_select .shape label {
    text-align: center;
    width: 220px;
    height: 220px;
    text-align: center;
    background: #f4f4f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
    border: 0px solid #f4f4f4;
  }
  .form_inner_main .form_select .shape label span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.4rem;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    margin-bottom: 10px;
  }
  .form_inner_main .form_select .shape label span input {
    margin-right: 10px;
  }
  .form_inner_main .form_select .shape label figure {
    cursor: pointer;
    height: 129px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form_inner_main .form_select .shape label:hover {
    border: 4px solid #f0b8df;
  }
  .form_inner_main .form_select .shape label.select {
    border: 4px solid #f0b8df;
  }
  .form_inner_main .contact_form {
    display: none;
  }
  .form_inner_main .contact_form .form_group {
    padding-bottom: 70px;
  }
  .form_inner_main .contact_form .form_group p {
    margin-bottom: 10px;
  }
  .form_inner_main .contact_form .form_group p label {
    width: 100%;
    display: block;
    background: #f4f4f4;
    cursor: pointer;
    padding: 15px;
  }
  .form_inner_main .contact_form .form_group p label span {
    font-size: 1.4rem;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    display: inline-block;
  }
  .form_inner_main .contact_form .form_group p label.select {
    background: #f0b8df;
  }
  .form_inner_main .contact_form .form_group p label:not(:last-child) {
    margin-bottom: 11px;
  }
  .form_inner_main .contact_form .form_group p label:hover {
    background: #f0b8df;
  }
  .form_inner_main .contact_form .form_group p .kikaku_etc, .form_inner_main .contact_form .form_group p .op_etc {
    display: inline-block;
    font-style: normal;
  }
  .form_inner_main .contact_form .form_group p .kikaku_etc input, .form_inner_main .contact_form .form_group p .op_etc input {
    width: 50px;
    padding: 0 5px;
  }
  .form_inner_main .contact_form .form_group p.option_select .etc_text {
    display: none;
  }
  .form_inner_main .contact_form .form_group p.kikaku_img {
    padding: 0;
    text-align: center;
  }
  .form_inner_main .contact_form .form_group p.kikaku_img span {
    width: 250px;
    height: 250px;
    margin: 0 auto 30px;
    display: inline-block;
  }
  .form_inner_main .contact_form .form_group p.three_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form_inner_main .contact_form .form_group p.three_select label {
    width: 32.6%;
    margin-bottom: 10px;
  }
  .form_inner_main .contact_form .form_group p.three_select label:not(:nth-child(3n)) {
    margin-right: 10px;
  }
  .form_inner_main .contact_form .form_group p.two_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form_inner_main .contact_form .form_group p.two_select label {
    width: 48.9%;
    margin-bottom: 10px;
  }
  .form_inner_main .contact_form .form_group p.two_select label:not(:last-child) {
    margin-right: 20px;
  }
  .form_inner_main .contact_form .form_group p.text_box {
    display: none;
  }
  .form_inner_main .contact_form .form_group p.color_num_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form_inner_main .contact_form .form_group p.color_num_select label {
    width: 32.6%;
    margin-bottom: 10px;
    height: 230px;
    display: block;
    padding: 30px 20px;
    background-color: #f4f4f4;
    border: 4px solid #f4f4f4;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center bottom 40px;
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:not(:nth-child(3n)) {
    margin-right: 10px;
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(1) {
    background-image: url(../images/img01.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(2) {
    background-image: url(../images/img02.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(3) {
    background-image: url(../images/img03.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(4) {
    background-image: url(../images/img04.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(5) {
    background-image: url(../images/img05.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:hover {
    border: 4px solid #f0b8df;
  }
  .form_inner_main .contact_form .form_group p.color_num_select label.select {
    border: 4px solid #f0b8df;
  }
  .form_inner_main .contact_form.register .kikaku_img span {
    background: #f4f4f4 url(../images/rezi.png) center no-repeat;
  }
  .form_inner_main .contact_form.oval .kikaku_img span {
    background: #f4f4f4 url(../images/koban.png) center no-repeat;
  }
  .form_inner_main .contact_form.oval .kikaku_img.op span {
    background: #f4f4f4 url(../images/op_koban.png) center no-repeat;
  }
  .form_inner_main .contact_form.tape .kikaku_img span {
    background: #f4f4f4 url(../images/ktape.png) center no-repeat;
  }
  .form_inner_main .contact_form.tape .kikaku_img.op span {
    background: #f4f4f4 url(../images/op_tape.png) center no-repeat;
  }
  .form_inner_main .contact_form.fasion .kikaku_img span {
    background: #f4f4f4 url(../images/shoruder.png) center no-repeat;
  }
  .form_inner_main .contact_form .form_group_contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #bababa;
    border-bottom: none;
    font-family: Meiryo, sans-serif;
  }
  .form_inner_main .contact_form .form_group_contact label {
    width: 260px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 260px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
    color: #fff;
    background: #464646;
    padding: 23px 30px;
    line-height: 1.5;
    font-weight: bold;
  }
  .form_inner_main .contact_form .form_group_contact label strong{
    color: #fff;
    background: #c50082;
    padding: 0 5px;
    display: inline-block;
    margin-left: 8px;
  }
  .form_inner_main .contact_form .form_group_contact p {
    width: 100%;
    padding: 15px;
  }
  .form_inner_main .contact_form .form_group_contact p span {
    display: block;
    width: 100%;
  }
  .form_inner_main .contact_form .form_group_contact:last-of-type {
    border: 1px solid #bababa;
  }
  .form_inner input[type="text"],
  .form_inner input[type="email"],
  .form_inner input[type="tel"],
  .form_inner textarea {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #bababa;
    -moz-border-radius: 0;
         border-radius: 0;
    outline: transparent;
    font-family: Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .form_inner select {
    font-size: 1.4rem;
    line-height: 1;
    width: 100%;
    font-family: Meiryo, sans-serif;
    padding: 14px 15px;
  }
  .form_inner .btn {
    text-align: center;
  }
  .form_inner .btn input[type="submit"] {
    width: 220px;
    background: #c50082;
    color: #fff;
    border: none;
    text-align: center;
    line-height: 1;
    margin-top: 40px;
    font-size: 1.6rem;
    font-family: Meiryo, sans-serif;
    padding: 22px 0;
    cursor: pointer !important;
  }
  /* ///////////////////////////// */
  .form_inner_main .contact_form .form_group p .wpcf7-list-item {
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 15px;
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item {
    width: 32.3%;
    height: 230px;
    display: block;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center bottom 40px;
  }
  .form_inner_main .contact_form .form_group p.three_select .wpcf7-list-item{
    width: 32.3%;
    padding: 0;
  }
  .form_inner_main .contact_form .form_group p.two_select .wpcf7-list-item{
    width: 49.2%;
    padding: 0;
  }
  .form_inner_main .contact_form .form_group p.three_select .wpcf7-list-item:nth-child(3n),
  .form_inner_main .contact_form .form_group p.two_select .wpcf7-list-item:last-child{
    margin-right: 0;
  }
  .form_inner_main .contact_form .form_group p .wpcf7-form-control-wrap,
  .form_inner_main .contact_form .form_group p .wpcf7-list-item,
  .form_inner_main .contact_form .form_group p .wpcf7-list-item label{
    width:  100%;
  }
  .form_inner_main .contact_form.register{
    display: block;
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(1) label{
    background-image: url(../images/img01.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(2) label{
    background-image: url(../images/img02.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(3) label{
    background-image: url(../images/img03.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(4) label{
    background-image: url(../images/img04.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(5) label{
    background-image: url(../images/img05.png);
  }
  .form_inner_main .contact_form .form_group p .wpcf7-form-control-wrap.op_width,
  .form_inner_main .contact_form .form_group p .kikaku_etc .wpcf7-form-control-wrap{
    width: inherit;
  }
}

@media screen and (max-width: 768px) {
  .ttl_section {
    height: 36.45833vw;
    width: 100%;
    background: url(../images/banner.jpg) bottom no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .ttl_section:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
  }
  .ttl_section h2 {
    color: #fff;
    font-size: 4.42708vw;
    line-height: 1;
    z-index: 1;
  }
  .breadcrum {
    margin: 2.60417vw auto;
  }
  .breadcrum_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .breadcrum_list li {
    font-size: 2.60417vw;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    position: relative;
  }
  .breadcrum_list li a {
    color: #000;
    display: inline-block;
  }
  .breadcrum_list li:not(:last-child) {
    padding-right: 3.90625vw;
     margin-right: 1.30208vw;
  }
  .breadcrum_list li:not(:last-child):after {
    position: absolute;
    content: "\003e";
    font-size: 3.125vw;
    line-height: 1;
    color: #000;
    top: -2px;
    right: 0;
  }
  .breadcrum_list li:not(:last-child) a {
    color: #c50082;
  }
  .form_inner {
    padding: 7.8125vw 0;
  }
  .form_inner_des {
    font-size: 3.125vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    color: #333333;
    margin-bottom: 7.8125vw;
  }
  .form_inner_main h3 {
    font-size: 3.38542vw;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #464646;
    font-family: Meiryo, sans-serif;
    padding: 2.60417vw 0;
    margin-bottom: 3.90625vw;
  }
  .form_inner_main .form_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10.41667vw;
  }
  .form_inner_main .form_select .shape {
    width: 48%;
    height: 39.0625vw;
    margin-bottom: 2.60417vw;
  }
  .form_inner_main .form_select .shape label {
    text-align: center;
    width: 100%;
    height: 39.0625vw;
    text-align: center;
    background: #f4f4f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
    border: 0px solid #f4f4f4;
  }
  .form_inner_main .form_select .shape label span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.125vw;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    margin-bottom: 2.60417vw;
  }
  .form_inner_main .form_select .shape label span input {
    margin-right: 2.60417vw;
  }
  .form_inner_main .form_select .shape label figure {
    cursor: pointer;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form_inner_main .form_select .shape label figure img {
    width: auto;
    height: 15.625vw;
  }
  .form_inner_main .form_select .shape label:hover {
    border: 0.52083vw solid #f0b8df;
  }
  .form_inner_main .form_select .shape label.select {
    border: 0.52083vw solid #f0b8df;
  }
  .form_inner_main .contact_form {
    display: none;
  }
  .form_inner_main .contact_form .form_group {
    padding-bottom: 9.11458vw;
  }
  .form_inner_main .contact_form .form_group p {
    margin-bottom: 2.60417vw;
  }
  .form_inner_main .contact_form .form_group p label {
    width: 100%;
    display: block;
    background: #f4f4f4;
    cursor: pointer;
    padding: 2.60417vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form_inner_main .contact_form .form_group p label span {
    font-size: 3.125vw;
    line-height: 1;
    font-family: Meiryo, sans-serif;
    display: inline-block;
    margin-left: 1.30208vw;
  }
  .form_inner_main .contact_form .form_group p label.select {
    background: #f0b8df;
  }
  .form_inner_main .contact_form .form_group p label:not(:last-child) {
    margin-bottom: 2.60417vw;
  }
  .form_inner_main .contact_form .form_group p label:hover {
    background: #f0b8df;
  }
  .form_inner_main .contact_form .form_group p .kikaku_etc, .form_inner_main .contact_form .form_group p .op_etc {
    display: inline;
    font-style: normal;
  }
  .form_inner_main .contact_form .form_group p .kikaku_etc input, .form_inner_main .contact_form .form_group p .op_etc input {
    width: 6.510415vw;
    padding: 0 0.65104vw;
  }
  .form_inner_main .contact_form .form_group p.option_select .etc_text {
    display: none;
  }
  .form_inner_main .contact_form .form_group p.kikaku_img {
    padding: 0;
    text-align: center;
  }
  .form_inner_main .contact_form .form_group p.kikaku_img span {
    width: 39.0625vw;
    height: 39.0625vw;
    margin: 0 auto 5.20833vw;
    display: inline-block;
  }
  .form_inner_main .contact_form .form_group p.three_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form_inner_main .contact_form .form_group p.three_select label {
    width: 100%;
  }
  .form_inner_main .contact_form .form_group p.two_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form_inner_main .contact_form .form_group p.two_select label {
    width: 100%;
  }
  .form_inner_main .contact_form .form_group p.text_box {
    display: none;
  }
  .form_inner_main .contact_form .form_group p.color_num_select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form_inner_main .contact_form .form_group p.color_num_select label {
    width: 48%;
    height: 29.94792vw;
    display: block;
    padding: 3.90625vw;
    background-color: #f4f4f4;
    border: 4px solid #f4f4f4;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center bottom 5.20833vw;
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(1) {
    background-image: url(../images/img01.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(2) {
    background-image: url(../images/img02.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(3) {
    background-image: url(../images/img03.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(4) {
    background-image: url(../images/img04.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:nth-child(5) {
    background-image: url(../images/img05.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select label:hover {
    border: 0.52083vw solid #f0b8df;
  }
  .form_inner_main .contact_form .form_group p.color_num_select label.select {
    border: 0.52083vw solid #f0b8df;
  }
  .form_inner_main .contact_form.register .kikaku_img span {
    background: #f4f4f4 url(../images/rezi.png) center no-repeat;
  }
  .form_inner_main .contact_form.oval .kikaku_img span {
    background: #f4f4f4 url(../images/koban.png) center no-repeat;
  }
  .form_inner_main .contact_form.oval .kikaku_img.op span {
    background: #f4f4f4 url(../images/op_koban.png) center no-repeat;
  }
  .form_inner_main .contact_form.tape .kikaku_img span {
    background: #f4f4f4 url(../images/ktape.png) center no-repeat;
  }
  .form_inner_main .contact_form.tape .kikaku_img.op span {
    background: #f4f4f4 url(../images/op_tape.png) center no-repeat;
  }
  .form_inner_main .contact_form.fasion .kikaku_img span {
    background: #f4f4f4 url(../images/shoruder.png) center no-repeat;
  }
  .form_inner_main .contact_form .form_group_contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 1px solid #bababa;
    border-bottom: none;
    font-family: Meiryo, sans-serif;
  }
  .form_inner_main .contact_form .form_group_contact label {
    width: 100%;
    color: #fff;
    background: #464646;
    padding: 3.90625vw;
    line-height: 1.5;
    font-weight: bold;
    font-size: 3.125vw;
  }
  .form_inner_main .contact_form .form_group_contact label strong{
    color: #fff;
    background: #c50082;
    padding: 0 1.30208vw;
    display: inline-block;
    margin-left: 1.30208vw;
  }
  .form_inner_main .contact_form .form_group_contact p {
    width: 100%;
    padding: 2.60417vw;
  }
  .form_inner_main .contact_form .form_group_contact p span {
    display: block;
    width: 100%;
  }
  .form_inner_main .contact_form .form_group_contact:last-of-type {
    border: 1px solid #bababa;
  }
  .form_inner input[type="text"],
  .form_inner input[type="email"],
  .form_inner input[type="tel"],
  .form_inner textarea {
    width: 100%;
    padding: 1.30208vw;
    border: 1px solid #bababa;
    -moz-border-radius: 0;
         border-radius: 0;
    outline: transparent;
    font-family: Meiryo, sans-serif;
    font-size: 3.125vw;
    line-height: 1.5;
  }
  .form_inner select {
    font-size: 3.125vw;
    line-height: 1;
    width: 100%;
    font-family: Meiryo, sans-serif;
    padding: 2.60417vw;
  }
  .form_inner .btn {
    text-align: center;
  }
  .form_inner .btn input[type="submit"] {
    width: 100%;
    background: #c50082;
    color: #fff;
    border: none;
    text-align: center;
    line-height: 1;
    margin-top: 6.51042vw;
    font-size: 3.38542vw;
    font-family: Meiryo, sans-serif;
    padding: 3.90625vw 0;
    cursor: pointer !important;
  }

  /*//////////////////////////*/
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(1) label{
    background-image: url(../images/img01.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(2) label{
    background-image: url(../images/img02.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(3) label{
    background-image: url(../images/img03.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(4) label{
    background-image: url(../images/img04.png);
  }
  .form_inner_main .contact_form .form_group p.color_num_select .wpcf7-list-item:nth-child(5) label{
    background-image: url(../images/img05.png);
  }
  .form_inner_main .contact_form .form_group p .wpcf7-list-item {
    width: 100%;
    margin-bottom: 2.60417vw;
    margin-left: 0;
  }
  .contact_form .form_group p.color_num_select .wpcf7-list-item {
    width: 48%;
    margin-bottom: 2.60417vw;
  }
  .contact_form .form_group p.color_num_select .wpcf7-list-item label{
    width: 100%;
  }
  input[type="checkbox"], input[type="radio"] {
    width: 2.60417vw;
    height: 2.60417vw;
    flex: 0 0 2.60417vw;
  }
}