@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.ttl_section{
	height: 140px;
	width: 100%;
	background: url(../images/banner.jpg) bottom no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.3);
	}
	h2{
		color: #fff;
		font-size: 2.4rem;
		line-height: 1;
		z-index: 1;
	}
}
.breadcrum{
	margin: 10px auto;
	&_list{
		display: flex;
		li{
			font-size: 1rem;
			line-height: 1;
			font-family: Meiryo, sans-serif;
			a{
				color: #000;
				display: inline-block;
			}
			&:not(:last-child){
				padding-right: 12px;
				&:after {
			    position: absolute;
			    content: "\003e";
			    font-size: 1.4rem;
			    line-height: 28px;
			    color: #000;
			    top: 0;
			    right: 0;
				}
				a{
					color: #c50082;
				}
			}
		}
		
	}
}
.form{
	&_inner{
		padding: 50px 0;
		&_des{
			font-size: 1.4rem;
			line-height: 2.4rem;
			font-family: Meiryo, sans-serif;
			color: #333333;
			margin-bottom: 50px;
		}
		&_main{
			h3{
				font-size: 1.6rem;
				line-height: 1;
				color: #fff;
				font-weight: bold;
				text-align: center;
				background: #464646;
				font-family: Meiryo, sans-serif;
				padding: 12px 0;
				margin-bottom: 24px;
			}
			.form_select{
				display: flex;
				justify-content: space-between;
				padding-bottom: 80px;
				.shape{
					width: 220px;
					height: 220px;
					label{
						text-align: center;
						width: 220px;
						height: 220px;
						text-align: center;
						background: #f4f4f4;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						flex-direction: column;
						transition: 0.25s;
						border: 0px solid #f4f4f4;
						span{
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 1.4rem;
							line-height: 1;
							font-family: Meiryo, sans-serif;
							margin-bottom: 10px;
							input{
								margin-right: 10px;
							}
						}
						figure{
							cursor: pointer;
							height: 129px;
							display: flex;
							align-items: center;
							justify-content: center;
						}
						&:hover{
							border: 4px solid #f0b8df;
						}
						&.select{
							border: 4px solid #f0b8df;
						}
					}
				}
			}
			.contact_form{
				display: none;
				.form_group{
					padding-bottom: 70px;
					p{
						margin-bottom: 10px;
						label{
							width: 100%;
							display: block;
							background: #f4f4f4;
							cursor: pointer;
							padding: 15px;
							span{
								font-size: 1.4rem;
								line-height: 1;
								font-family: Meiryo, sans-serif;
								display: inline-block;
							}
							&.select{
								background: #f0b8df;
							}
							&:not(:last-child){
								margin-bottom: 11px;
							}
							&:hover{
								background: #f0b8df;
							}
						}
						.kikaku_etc, .op_etc{
							display: inline-block;
							font-style: normal;
							input{
								width: 50px;
								padding: 0 5px;
							}
						}
						&.option_select{
							.etc_text{
								display: none;
							}
						}
						&.kikaku_img{
							padding: 0;
							text-align: center;
							span{
								width: 250px;
								height: 250px;
								margin: 0 auto 30px;
								display: inline-block;
							}
						}
						&.three_select{
							display: flex;
							flex-wrap: wrap;
							label{
								width: 32.6%;
								margin-bottom: 10px;
								&:not(:nth-child(3n)){
									margin-right: 10px;
								}
							}
						}
						&.two_select{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							label{
								width: 48.9%;
								margin-bottom: 10px;
								&:not(:last-child){
									margin-right: 20px;
								}
							}
						}
						&.text_box{
							display: none;
						}
						&.color_num_select{
							display: flex;
							flex-wrap: wrap;
							label{
								width: 32.6%;
								margin-bottom: 10px;
								height: 230px;
							    display: block;
							    padding: 30px 20px;
							    background-color: #f4f4f4;
							    border: 4px solid #f4f4f4;
							    cursor: pointer;
							    text-align: center;
							    background-repeat: no-repeat;
							    background-position: center bottom 40px;
								&:not(:nth-child(3n)){
									margin-right: 10px;
								}
								&:nth-child(1){
								    background-image: url(../images/img01.png);
								}
								&:nth-child(2){
								    background-image: url(../images/img02.png);
								}
								&:nth-child(3){
								    background-image: url(../images/img03.png);
								}
								&:nth-child(4){
								    background-image: url(../images/img04.png);
								}
								&:nth-child(5){
								    background-image: url(../images/img05.png);
								}
								&:hover{
									border: 4px solid #f0b8df;
								}
								&.select{
									border: 4px solid #f0b8df;
								}
							}
						}
					}
				}
				&.register{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/rezi.png) center no-repeat;
						}
					}
				}
				&.oval{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/koban.png) center no-repeat;
						}
						&.op{
							span {
							  background: #f4f4f4 url(../images/op_koban.png) center no-repeat;
							}
						}
					}
				}
				&.tape{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/ktape.png) center no-repeat;
						}
						&.op{
							span {
							  background: #f4f4f4 url(../images/op_tape.png) center no-repeat;
							}
						}
					}
				}
				&.fasion{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/shoruder.png) center no-repeat;
						}
					}
				}
				.form_group_contact{
					display: flex;
					border: 1px solid #bababa;
					border-bottom: none;
					font-family: Meiryo, sans-serif;
					label{
						width: 260px;
						flex: 0 0 260px;
						color: #fff;
						background: #464646;
						padding: 23px 30px;
						line-height: 1.5;
						font-weight: bold;
					}
					p{
						width: 100%;
						padding: 15px;
						span{
							display: block;
							width: 100%;
						}
					}
					&:last-of-type{
						border: 1px solid #bababa;
					}
				}
			}
		}
		input[type="text"], 
		input[type="email"],
		input[type="tel"],
		textarea,
		{
			width: 100%;
			padding: 6px 10px;
			border: 1px solid #bababa;
			border-radius: 0;
			outline: transparent;
			font-family: Meiryo, sans-serif;
			font-size: 1.4rem;
			line-height: 1.5;
		}
		select{
			font-size: 1.4rem;
			line-height: 1;
			width: 100%;
			font-family: Meiryo, sans-serif;
			padding: 14px 15px;
		}
		.btn{
			text-align: center;
			input[type="submit"]{
				width: 220px;
				background: #c50082;
				color: #fff;
				border: none;
				text-align: center;
				line-height: 1;
				margin-top: 40px;
				font-size: 1.6rem;
				font-family: Meiryo, sans-serif;
				padding: 22px 0;
				cursor: pointer !important;
			}
		}
		
	}
}