@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.ttl_section{
	height: vw(280);
	width: 100%;
	background: url(../images/banner.jpg) bottom no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.3);
	}
	h2{
		color: #fff;
		font-size: vw(34);
		line-height: 1;
		z-index: 1;
	}
}
.breadcrum{
	margin: vw(20) auto;
	&_list{
		display: flex;
		li{
			font-size: vw(20);
			line-height: 1;
			font-family: Meiryo, sans-serif;
			position: relative;
			a{
				color: #000;
				display: inline-block;
			}
			&:not(:last-child){
				padding-right: vw(40);
				&:after {
			    position: absolute;
			    content: "\003e";
			    font-size: vw(24);
			    line-height: 1.5;
			    color: #000;
			    top: 0;
			    right: 0;
				}
				a{
					color: #c50082;
				}
			}
		}
		
	}
}
.form{
	&_inner{
		padding: vw(60) 0;
		&_des{
			font-size: vw(24);
			line-height: 1.5;
			font-family: Meiryo, sans-serif;
			color: #333333;
			margin-bottom: vw(60);
		}
		&_main{
			h3{
				font-size: vw(26);
				line-height: 1;
				color: #fff;
				font-weight: bold;
				text-align: center;
				background: #464646;
				font-family: Meiryo, sans-serif;
				padding: vw(20) 0;
				margin-bottom: vw(30);
			}
			.form_select{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding-bottom: vw(80);
				.shape{
					width: 48%;
					height: vw(300);
					margin-bottom: vw(20);
					label{
						text-align: center;
						width: 100%;
						height: vw(300);
						text-align: center;
						background: #f4f4f4;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						flex-direction: column;
						transition: 0.25s;
						border: 0px solid #f4f4f4;
						span{
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: vw(24);
							line-height: 1;
							font-family: Meiryo, sans-serif;
							margin-bottom: vw(20);
							input{
								margin-right: vw(20);
							}
						}
						figure{
							cursor: pointer;
							height: auto;
							display: flex;
							align-items: center;
							justify-content: center;
							img{
								width: auto;
								height: vw(120);
							}
						}
						&:hover{
							border: vw(4) solid #f0b8df;
						}
						&.select{
							border: vw(4) solid #f0b8df;
						}
					}
				}
			}
			.contact_form{
				display: none;
				.form_group{
					padding-bottom: vw(70);
					p{
						margin-bottom: vw(20);
						label{
							width: 100%;
							display: block;
							background: #f4f4f4;
							cursor: pointer;
							padding: vw(20);
							display: flex;
							span{
								font-size: vw(24);
								line-height: 1;
								font-family: Meiryo, sans-serif;
								display: inline-block;
								margin-left: vw(10);
							}
							&.select{
								background: #f0b8df;
							}
							&:not(:last-child){
								margin-bottom: vw(20);
							}
							&:hover{
								background: #f0b8df;
							}
						}
						.kikaku_etc, .op_etc{
							display: inline;
							font-style: normal;
							input{
								width: vw(100);
								padding: 0 vw(5);
							}
						}
						&.option_select{
							.etc_text{
								display: none;
							}
						}
						&.kikaku_img{
							padding: 0;
							text-align: center;
							span{
								width: vw(300);
								height: vw(300);
								margin: 0 auto vw(40);
								display: inline-block;
							}
						}
						&.three_select{
							display: flex;
							flex-wrap: wrap;
							label{
								width: 100%;
								margin-bottom: vw(20);
							}
						}
						&.two_select{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							label{
								width: 100%;
								margin-bottom: vw(20);
							}
						}
						&.text_box{
							display: none;
						}
						&.color_num_select{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							label{
								width: 48%;
								margin-bottom: vw(20);
								height: vw(230);
							    display: block;
							    padding: vw(30);
							    background-color: #f4f4f4;
							    border: 4px solid #f4f4f4;
							    cursor: pointer;
							    text-align: center;
							    background-repeat: no-repeat;
							    background-position: center bottom vw(40);
								&:nth-child(1){
								    background-image: url(../images/img01.png);
								}
								&:nth-child(2){
								    background-image: url(../images/img02.png);
								}
								&:nth-child(3){
								    background-image: url(../images/img03.png);
								}
								&:nth-child(4){
								    background-image: url(../images/img04.png);
								}
								&:nth-child(5){
								    background-image: url(../images/img05.png);
								}
								&:hover{
									border: vw(4) solid #f0b8df;
								}
								&.select{
									border: vw(4) solid #f0b8df;
								}
							}
						}
					}
				}
				&.register{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/rezi.png) center no-repeat;
						}
					}
				}
				&.oval{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/koban.png) center no-repeat;
						}
						&.op{
							span {
							  background: #f4f4f4 url(../images/op_koban.png) center no-repeat;
							}
						}
					}
				}
				&.tape{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/ktape.png) center no-repeat;
						}
						&.op{
							span {
							  background: #f4f4f4 url(../images/op_tape.png) center no-repeat;
							}
						}
					}
				}
				&.fasion{
					.kikaku_img{
						span {
						  background: #f4f4f4 url(../images/shoruder.png) center no-repeat;
						}
					}
				}
				.form_group_contact{
					display: flex;
					flex-wrap: wrap;
					border: 1px solid #bababa;
					border-bottom: none;
					font-family: Meiryo, sans-serif;
					label{
						width: 100%;
						color: #fff;
						background: #464646;
						padding: vw(30);
						line-height: 1.5;
						font-weight: bold;
						font-size: vw(24);
					}
					p{
						width: 100%;
						padding: vw(20);
						span{
							display: block;
							width: 100%;
						}
					}
					&:last-of-type{
						border: 1px solid #bababa;
					}
				}
			}
		}
		input[type="text"], 
		input[type="email"],
		input[type="tel"],
		textarea,
		{
			width: 100%;
			padding: vw(10);
			border: 1px solid #bababa;
			border-radius: 0;
			outline: transparent;
			font-family: Meiryo, sans-serif;
			font-size: vw(24);
			line-height: 1.5;
		}
		select{
			font-size: vw(24);
			line-height: 1;
			width: 100%;
			font-family: Meiryo, sans-serif;
			padding: vw(20);
		}
		.btn{
			text-align: center;
			input[type="submit"]{
				width: 100%;
				background: #c50082;
				color: #fff;
				border: none;
				text-align: center;
				line-height: 1;
				margin-top: vw(50);
				font-size: vw(26);
				font-family: Meiryo, sans-serif;
				padding: vw(30) 0;
				cursor: pointer !important;
			}
		}
		
	}
}