@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.load{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff;
  opacity: 1;
  transition: opacity 1s ease-in-out, z-index 0s ease-in-out 1s;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.46);
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
	}
	i {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    margin: -5rem 0 0 -5rem;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 2s linear infinite;
    &:before {
	    content: "";
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    right: 5px;
	    bottom: 5px;
	    border-radius: 50%;
	    border: 3px solid transparent;
	    border-top-color: #e74c3c;
	    animation: spin 3s linear infinite;
		}
		&:after{
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #f9c922;
			animation: spin 1.5s linear infinite;
		}
	}
  &.end{
  	opacity: 0;
    z-index: -1;
    &:before {
    	transform: scaleX(1);
    }
  }
}
.banner{
	position: relative;
	figure{
		img{
			width: 100%;
		}
	}
	&_ct{
		position: absolute;
		top: 46%;
		left: 20%;
		transform: translateY(-54%);
		width: 355px;
		h2{
			font-family: 'book_antiquabold';
			font-size: 4.8rem;
			line-height: 1;
			color: #fff;
			letter-spacing: 8.5px;
			margin-bottom: 15px;
		}
		p{
			font-size: 1.5rem;
			line-height: 1.5;
			color: #fff;
			margin-bottom: 25px;
		}
		.banner_btn{
			font-size: 3rem;
			line-height: 1;
			color: #fff;
			background: url(../images/banner_bg.jpg) no-repeat;
			background-size: cover;
			display: block;
			//text-shadow: 2px 2px 2px #8b6301;
			text-align: center;
			padding: 9px 0;
		}
	}
}
.camp{
	padding: 40px 0 55px;
	background: #f4f4f4;
	&_top{
		border: 1px solid $color;
		padding: 35px 50px 25px;
		position: relative;
		margin-bottom: 30px;
		background: url(../images/bg_box.jpg) no-repeat;
    	background-size: cover;
		h3{
			color: #fff;
			font-size: 1.8rem;
			font-family: 'book_antiquabold';
			background: $color;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			padding: 6px 10px;
		    line-height: 1;
		    letter-spacing: 1px;
		}
		&_ct{
			display: flex;
			justify-content: center;
			align-items: center;
			p{
				font-size: 3rem;
				line-height: 1;
				color: #000;
				display: flex;
				align-items: center;
				letter-spacing: 4px;
				font-weight: bold;
				margin-right: 15px;
				span{
					font-size: 3.8rem;
					line-height: 1;
					background: #ffff00;
    				padding: 6px 2px;
    				background: url(../images/bg_span.jpg) no-repeat;
    				background-size: cover;
				}
			}
			em{
				font-size: 1.8rem;
				line-height: 1;
				color: #fff;
				background: #313131;
				display: inline-block;
				padding: 10px 20px;
    			font-style: normal;
    			letter-spacing: 1px;
			}
		}
	}
	&_bot{
		display: flex;
		background: #fff;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		a{
			display: block;
			line-height: 0;
			img{
				width: 460px;
				height: auto;
			}
		}
	}
}
.reason{
	background: #fff;
	padding: 80px 0;
	&_tt{
		text-align: center;
		font-family: 'book_antiquabold';
		font-size: 3.8rem;
		line-height: 1;
		letter-spacing: 9px;
		margin-bottom: 10px;
	}
	&_stt{
		text-align: center;
		font-size: 1.4rem;
		line-height: 1;
		font-weight: bold;
		color: #fff;
		background: #313131;
		display: block;
	    margin: 0 auto 62px;
	    padding: 9px 20px;
	    width: fit-content;
	    letter-spacing: 1px;
	}
	&_inner{		
		&_child{
			display: flex;
			position: relative;	
			margin-bottom: 80px;
			&.img_right{
				justify-content: flex-end;
				figure{
					order: 2;
				}
				.reason_inner_child_ct{
					order: 1;
					margin-left: 0;
					margin-right: -85px;
					z-index: 1;
				}
			}	
			figure{
				flex: 0 0 55%;
				width: 55%;
				img{
					width: 100%;
				}
			}
			&_ct{
				padding: 18px 50px;
				flex: 0 0 45%;
				width: 45%;
				margin-left: -85px;
		    background: #fff;
		    margin-top: 100px;
			  z-index: 1;
				h4{
					font-size: 2.2rem;
					line-height: 1.5;
					color: #000;
					text-align: center;
					margin-bottom: 20px;
					&:before{
						content: attr(data-num);
						display: block;
						width: 78px;
						height: 78px;
						border: 1px solid #000;
						border-radius: 100%;
						margin: 0 auto;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 3.4rem;
						line-height: 1;
						margin-bottom: 20px;
					}
				}
				p{
					color: #313131;
					font-size: 1.4rem;
					line-height: 3rem;
					margin-bottom: 40px;
					font-family: Meiryo, sans-serif;
				}
			}
		}
	}
}
.price{
	padding: 80px 0;
	background: #ececec;
	&_inner{
		background: #fff;
		padding: 50px 140px;
		h4{
			font-size: 3rem;
			line-height: 1;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
		}
		&_bl{
			margin-bottom: 60px;
			&_top{
				display: flex;
				margin-bottom: 30px;
				figure{
					width: 50%;
					flex: 0 0 50%;
					padding-top: 20px;
					img{
						width: 207px;
						height: auto;
					}
				}
				.price_inner_bl_ct{
					width: 50%;
					flex: 0 0 50%;
					dl{
						display: flex;
						align-items: center;
						padding-bottom: 10px;
						border-bottom: 1px solid #000;
						margin-bottom: 10px;
						dt{
							font-size: 1.6rem;
							line-height: 1.5;
							font-family: Meiryo, sans-serif;
							width: 105px;
							font-weight: 500;
						}
						dd{
							font-size: 1.6rem;
							line-height: 1.5;
							font-family: Meiryo, sans-serif;
						}
					}
				}
			}
			&_bot{
				h5{
					font-size: 1.8rem;
					line-height: 1;
					font-family: Meiryo, sans-serif;
					text-align: center;
					margin-bottom: 10px;
				}
				table{
					border-collapse: collapse;
					border: 1px solid #dbdbdb;
					width: 100%;
					text-align: center;
					tr{
						th{
							border: 1px solid #dbdbdb;
							font-size: 1.6rem;
							line-height: 1;
							color: #000;
							padding: 17px 10px;
							vertical-align: middle;
							width: 139px;
							font-family: Meiryo, sans-serif;
						}
						td{
							border: 1px solid #dbdbdb;
							font-size: 1.6rem;
							line-height: 1;
							color: #000;
							padding: 17px 10px;
							vertical-align: middle;
							width: 139px;
							font-family: Meiryo, sans-serif;
						}
						.t_main{
							background: #eceae8;
						}
					}
				}
			}
		}
		.note{
			color: $color;
			font-size: 1.6rem;
			line-height: 2;
			text-align: center;
		}
	}
	.price_btn{
		display: block;
		a{
			display: block;
			font-size: 2.6rem;
			line-height: 1;
			color: #fff;
			background: $color;
			text-align: center;
			padding: 22px 20px;
		}
	}
}
.products{
	background: #ececec;
	padding: 80px 0;
	&_inner{
		padding: 0 79px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-left: -48px;
		margin-right: -48px;
		li{
			padding: 0 48px;
			margin-bottom: 20px;
			width: 33.3%;
			a{
				display: block;
				transition: opacity 0.3s ease-out;
				figure{
					line-height: 0;
					width: 100%;
					img{
						width: auto;
						height: 240px;
						margin: 0 auto 10px;
						display: block;
						transition: opacity 0.3s ease-out;
					}
					figcaption{
						font-size: 1.4rem;
						line-height: 1.5;
						font-family: Meiryo, sans-serif;
						text-align: center;
						min-height: 42px;
					}
				}
				&:hover{
					opacity: 0.6;
					img{
						opacity: 0.6;
					}
				}
			}
		}
	}
}
.voice{
	padding: 80px 0;
	&_inner{
		&_child{
			margin-bottom: 60px;
			&_top{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 30px;
				&_left{
					padding: 0 30px 0 10px;
					.voice_inner_child_tt{
						font-size: 2rem;
						line-height: 1.5;
						font-family: Meiryo, sans-serif;
						font-weight: bold;
						margin-bottom: 20px;
					}
					.voice_inner_child_note{
						font-style: normal;
						font-size: 1.4rem;
						line-height: 1;
						font-family: Meiryo, sans-serif;
						margin-bottom: 50px;
						display: flex;
						align-items: center;
						&:before{
							content: '';
							width: 20px;
							height: 16px;
							background: url(../images/ic_aq.png) no-repeat;
							background-size: contain;
							display: inline-block;
							margin-right: 10px;
						}
					}
					.btn_voice{
						display: block;
						a{
							display: block;
							width: 245px;
							font-size: 1.6rem;
							line-height: 1;
							color: #fff;
							background: $color;
							border: 1px solid $color;
							text-align: center;
							padding: 10px;
							transition: all .3s ease;
							&:hover{
								color: $color;
								background: #fff;
							}
						}
					}
				}
				figure{
					width: 440px;
					flex: 0 0 440px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			&_ct{
				border: 2px dotted #b9b9b9;
  			border-radius: 8px;
  			padding: 0 30px;
  			opacity: 0;
				visibility: hidden;
				transition: all .5s linear;
				overflow: hidden;
				height: 0;
				&.open{
					height: 100%;
					visibility: visible;
					 overflow: hidden;
					opacity: 1;
					padding: 50px 30px 0;
				}
				p{
					margin-bottom: 45px;
					font-size: 1.4rem;
					line-height: 2;
					font-family: Meiryo, sans-serif;
					strong{
						color: $color;
						font-weight: 500;
					}
				}
				figure{
					float: left;
					margin-right: 45px;
					margin-bottom: 20px;
					width: 440px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
.guide{
	background: #ececec;
	padding: 80px 0;
	&_inner{
		h4{
			font-size: 2.4rem;
			line-height: 1;
			color: #000;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
		}
		.guide_b1{
			background: #fff;
			border: 1px solid #5b5b5b;
			padding: 39px 20px;
			margin-bottom: 40px;
			h5{
				font-size: 1.6rem;
				line-height: 1;
				text-align: center;
				font-family: Meiryo, sans-serif;
				margin-bottom: 30px;
			}
			.qa_list{
				&:after{
					content: '';
					width: 32px;
					height: 23px;
					background: url('../images/ic_arrow.png') no-repeat;
					background-size: contain;
					display: block;
					margin: 0 auto 30px;
				}
			}
			.note{
				color: #de2525;
				font-size: 1.6rem;
				line-height: 1;
				text-align: center;
				font-family: Meiryo, sans-serif;
				margin-bottom: 20px;
			}
			.guide_btn{
				text-align: center;
				margin-bottom: 30px;
				a{
					font-size: 1.6rem;
					color: #fff;
					line-height: 1;
					background: #464646;
					text-align: center;
					display: inline-block;
					width: 292px;
					padding: 19px 20px;
					border: 1px solid #464646;
					transition: all .3s ease;
					&:hover{
						color: #464646;
						background: #fff;
					}
				}
			}
		}
		.guide_b2{
			background: #fff;
			border: 1px solid #5b5b5b;
			padding: 39px 20px;
			margin-bottom: 40px;
			dl{
				dt{
					background: #464646;
					color: #fff;
					font-size: 1.6rem;
					line-height: 1.5;
					font-family: Meiryo, sans-serif;
					padding: 8px 20px;
					font-weight: 500;
					position: relative;
				}
				dd{
					padding: 20px;
					position: relative;
					p{
						font-size: 1.4rem;
						line-height: 2;
						font-family: Meiryo, sans-serif;
						color: #000;
						margin-bottom: 20px;
						strong{
							color: #de2525;
						}
					}
					span{
						padding: 20px;
						background: #ececec;
						display: block;
						font-size: 1.6rem;
						line-height: 2;
						color: #462f21;
						font-family: Meiryo, sans-serif;
						em{
							font-size: 1.8rem;
							line-height: 1;
							color: #462f21;
							border-bottom: 1px solid #000;
							display: block;
							margin-bottom: 10px;
							font-weight: 500;
							padding-bottom: 5px;
							font-style: normal;
						}
					}
				}
			}
		}
	}
}
.qa{
	padding: 80px 0;
	&_inner{
		border: 1px solid #5e5e5e;
		padding: 30px 40px 10px;
		.qa_list{
			&:not(:last-child){
				margin-bottom: 30px;
			}
			dt{
				background: #ececec;
				color: #000;
			}
			dd{
				p{
					margin-bottom: 40px;
				}
			}
		}
	}
}
.flow{
	background: #ececec;
	padding: 80px 0;
	&_inner{
		counter-reset: number;
		dl{
			border: 1px solid #000;
			margin-bottom: 60px;
			&:not(:last-child){
				position: relative;
				&:after{
					content: '';
					width: 32px;
					height: 23px;
					background: url('../images/ic_arrow.png') no-repeat;
					background-size: contain;
					display: block;
					position: absolute;
					bottom: -44px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			dt{
				font-size: 1.8rem;
				line-height: 1;
				color: #fff;
				background: #464646;
				font-weight: bold;
				padding: 11px 20px;
				&:before{
					counter-increment: number;
					content: counter(number) ". ";
				}
			}
			dd{
				padding: 20px;
				display: flex;
				justify-content: space-between;
				figure{
					width: 260px;
					flex: 0 0 260px;
					img{
						width: 100%;
						height: auto;
					}
				}
				.flow_ct{
					padding-right: 40px;
					p{
						margin-bottom: 40px;
						font-size: 1.4rem;
						line-height: 2;
						font-family: Meiryo, sans-serif;
					}
				}
			}
		}
	}
}
.contact{
	background: #fff;
	padding: 40px 0 50px;
}