@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.banner{
	position: relative;
	figure{
		img{
			width: 100%;
		}
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
		}
	}
	&_ct{
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		padding: 0 vw(100);
		h2{
			font-family: 'book_antiquabold';
			font-size: vw(75);
			line-height: 1;
			color: #fff;
			letter-spacing: vw(8.5);
			margin-bottom: vw(15);
		}
		p{
			font-size: vw(25);
			line-height: 1.5;
			color: #fff;
			margin-bottom: vw(25);
		}
		.banner_btn{
			font-size: vw(40);
			line-height: 1;
			color: #fff;
			background: url(../images/banner_bg.jpg) no-repeat;
			background-size: cover;
			display: block;
			//text-shadow: 2px 2px 2px #8b6301;
			text-align: center;
			padding: vw(9) 0;
		}
	}
}
.camp{
	padding: vw(55) 0;
	background: #f4f4f4;
	&_top{
		border: 1px solid $color;
		padding: 0;
		position: relative;
		margin-bottom: vw(30);
		background: url(../images/bg_box.jpg) no-repeat;
    background-size: cover;
		h3{
			color: #fff;
			font-size: vw(28);
			font-family: 'book_antiquabold';
			background: $color;
			display: block;
			text-align: center;
			padding: vw(20) vw(10);
	    line-height: 1;
	    letter-spacing: 1px;
		}
		&_ct{
			text-align: center;
			padding: vw(30) vw(20);
			p{
				font-size: vw(40);
				line-height: 1;
				color: #000;
				display: flex;
				align-items: center;
				justify-content: center;
				letter-spacing: vw(4);
				font-weight: bold;
				margin-bottom: vw(20);
				span{
					font-size: vw(48);
					line-height: 1;
					background: #ffff00;
  				padding: vw(6) vw(2);
  				background: url(../images/bg_span.jpg) no-repeat;
  				background-size: cover;
				}
			}
			em{
				font-size: vw(28);
				line-height: 1;
				color: #fff;
				background: #313131;
				display: block;
				padding: vw(20);
  			font-style: normal;
  			letter-spacing: 1px;
			}
		}
	}
	&_bot{
		background: #fff;
		padding: 20px;
		a{
			display: block;
			&:not(:last-child){
				margin-bottom: vw(20);
			}
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}
.reason{
	background: #fff;
	padding: vw(80) vw(30);
	&_tt{
		text-align: center;
		font-family: 'book_antiquabold';
		font-size: vw(48);
		line-height: 1;
		letter-spacing: vw(9);
		margin-bottom: vw(15);
	}
	&_stt{
		text-align: center;
		font-size: vw(24);
		line-height: 1;
		font-weight: bold;
		color: #fff;
		background: #313131;
		display: block;
    margin: 0 auto vw(62);
    padding: vw(9) vw(20);
    width: fit-content;
    letter-spacing: 1px;
	}
	&_inner{
		&_child{
			margin-bottom: vw(80);
			figure{
				line-height: 0;
				margin-bottom: vw(40);
				img{
					width: 100%;
				}
			}
			&_ct{
				padding: vw(20) vw(50);
			  background: #fff;
				h4{
					font-size: vw(32);
					line-height: 2;
					color: #000;
					text-align: center;
					margin-bottom: vw(30);
					&:before{
						content: attr(data-num);
						display: block;
						width: vw(100);
						height: vw(100);
						border: 1px solid #000;
						border-radius: 100%;
						margin: 0 auto;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: vw(44);
						line-height: 1;
						margin-bottom: vw(30);
					}
				}
				p{
					color: #313131;
					font-size: vw(24);
					line-height: 2;
					margin-bottom: vw(40);
					font-family: Meiryo, sans-serif;
				}
			}
		}
	}
}
.price{
	padding: vw(80) 0;
	background: #ececec;
	&_inner{
		background: #fff;
		padding: vw(50);
		h4{
			font-size: vw(40);
			line-height: 1;
			font-weight: bold;
			text-align: center;
			margin-bottom: vw(40);
		}
		&_bl{
			margin-bottom: vw(60);
			&_top{
				margin-bottom: vw(50);
				figure{
					padding-top: vw(20);
					line-height: 0;
					margin-bottom: vw(30);
					img{
						width: vw(418);
						height: auto;
						margin: 0 auto;
						display: block;
					}
				}
				.price_inner_bl_ct{
					dl{
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding-bottom: vw(15);
						border-bottom: 1px solid #000;
						margin-bottom: vw(15);
						dt{
							font-size: vw(26);
							line-height: 1.5;
							font-family: Meiryo, sans-serif;
							font-weight: 500;
						}
						dd{
							font-size: vw(26);
							line-height: 1.5;
							font-family: Meiryo, sans-serif;
						}
					}
				}
			}
			&_bot{
				width: 100%;
				
				h5{
					font-size: vw(28);
					line-height: 1;
					font-family: Meiryo, sans-serif;
					text-align: center;
					margin-bottom: vw(20);
				}
				&_table{
					overflow-x: scroll;
					table {
						border-collapse: collapse;
						border: 1px solid #dbdbdb;
						text-align: center;
						width: vw(1000);
						tr{
							th{
								border: 1px solid #dbdbdb;
								font-size: vw(26);
								line-height: 1;
								color: #000;
								padding: vw(27) vw(10);
								vertical-align: middle;
								width: vw(200);
								font-family: Meiryo, sans-serif;
							}
							td{
								border: 1px solid #dbdbdb;
								font-size: vw(26);
								line-height: 1;
								color: #000;
								padding: vw(27) vw(10);
								vertical-align: middle;
								width: vw(200);
								font-family: Meiryo, sans-serif;
							}
							.t_main{
								background: #eceae8;
							}
						}
					}
				}
			}
		}
		.note{
			color: $color;
			font-size: vw(26);
			line-height: 2;
			text-align: center;
		}
	}
	.price_btn{
		display: block;
		a{
			display: block;
			font-size: vw(36);
			line-height: 1;
			color: #fff;
			background: $color;
			text-align: center;
			padding: vw(30) vw(20);
		}
	}
}
.products{
	background: #ececec;
	padding: vw(80) 0;
	&_inner{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		li{
			margin-bottom: vw(40);
			figure{
				line-height: 0;
				img{
					width: auto;
					height: vw(350);
					margin: 0 auto vw(20);
					display: block;
				}
				figcaption{
					font-size: vw(24);
					line-height: 1.5;
					font-family: Meiryo, sans-serif;
					text-align: center;
					min-height: vw(72);
				}
			}
		}
	}
}
.voice{
	padding: vw(80) 0;
	&_inner{
		&_child{
			margin-bottom: vw(60);
			&_top{
				margin-bottom: vw(60);
				&_left{
					.voice_inner_child_tt{
						text-align: center;
						font-size: vw(30);
						line-height: 1.5;
						font-family: Meiryo, sans-serif;
						font-weight: bold;
						margin-bottom: vw(30);
					}
					.voice_inner_child_note{
						font-style: normal;
						font-size: vw(24);
						line-height: 1;
						font-family: Meiryo, sans-serif;
						text-align: center;
						margin-bottom: vw(60);
						display: flex;
						align-items: center;
						justify-content: center;
						&:before{
							content: '';
							width: vw(40);
							height: vw(32);
							background: url(../images/ic_aq.png) no-repeat;
							background-size: contain;
							display: inline-block;
							margin-right: vw(15);
						}
					}
					.btn_voice{
						display: block;
						a{
							display: block;
							width: 100%;
							font-size: vw(26);
							line-height: 1;
							color: #fff;
							background: $color;
							text-align: center;
							padding: vw(20);
						}
					}
				}
				figure{
					margin-bottom: vw(40);
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			&_ct{
				border: 2px dotted #b9b9b9;
  			border-radius: vw(8);
  			padding: 0 vw(30);
  			opacity: 0;
				visibility: hidden;
				transition: all .5s linear;
				overflow: hidden;
				height: 0;
				&.open{
					height: 100%;
					visibility: visible;
					overflow: hidden;
					opacity: 1;
					padding: vw(50) vw(30) 0;
				}
				p{
					margin-bottom: vw(50);
					font-size: vw(24);
					line-height: 2;
					font-family: Meiryo, sans-serif;
					strong{
						color: $color;
						font-weight: 500;
					}
				}
				figure{
					margin-bottom: vw(40);
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
.guide{
	background: #ececec;
	padding: vw(80) 0;
	&_inner{
		h4{
			font-size: vw(34);
			line-height: 1;
			color: #000;
			font-weight: bold;
			text-align: center;
			margin-bottom: vw(40);
		}
		.guide_b1{
			background: #fff;
			border: 1px solid #5b5b5b;
			padding: vw(40) vw(20);
			margin-bottom: vw(40);
			h5{
				font-size: vw(26);
				line-height: 1;
				text-align: center;
				font-family: Meiryo, sans-serif;
				margin-bottom: vw(40);
			}
			.qa_list{
				&:after{
					content: '';
					width: vw(64);
					height: vw(46);
					background: url('../images/ic_arrow.png') no-repeat;
					background-size: contain;
					display: block;
					margin: 0 auto vw(40);
				}
			}
			.note{
				color: #de2525;
				font-size: vw(26);
				line-height: 1;
				text-align: center;
				font-family: Meiryo, sans-serif;
				margin-bottom: vw(30);
			}
			.guide_btn{
				text-align: center;
				margin-bottom: vw(40);
				a{
					font-size: vw(26);
					color: #fff;
					line-height: 1;
					background: #464646;
					text-align: center;
					display: block;
					padding: vw(30) vw(20);
				}
			}
		}
		.guide_b2{
			background: #fff;
			border: 1px solid #5b5b5b;
			padding: vw(40) vw(20);
			margin-bottom: vw(40);
			dl{
				dt{
					background: #464646;
					color: #fff;
					font-size: vw(26);
					line-height: 1.5;
					font-family: Meiryo, sans-serif;
					padding: vw(20);
					font-weight: 500;
					position: relative;
				}
				dd{
					padding: vw(30);
					position: relative;
					p{
						font-size: vw(24);
						line-height: 2;
						font-family: Meiryo, sans-serif;
						color: #000;
						margin-bottom: vw(30);
						strong{
							color: #de2525;
						}
					}
					span{
						padding: vw(30);
						background: #ececec;
						display: block;
						font-size: vw(26);
						line-height: 2;
						color: #462f21;
						font-family: Meiryo, sans-serif;
						em{
							font-size: vw(28);
							line-height: 1;
							color: #462f21;
							border-bottom: 1px solid #000;
							display: block;
							margin-bottom: vw(20);
							font-weight: 500;
							padding-bottom: vw(15);
							font-style: normal;
						}
					}
				}
			}
		}
	}
}
.qa{
	padding: vw(80) 0;
	&_inner{
		border: 1px solid #5e5e5e;
		padding: vw(50) vw(40) vw(20);
		.qa_list{
			&:not(:last-child){
				margin-bottom: vw(40);
			}
			dt{
				background: #ececec;
				color: #000;
			}
			dd{
				p{
					margin-bottom: vw(40);
				}
			}
		}
	}
}
.flow{
	background: #ececec;
	padding: vw(80) 0;
	&_inner{
		counter-reset: number;
		dl{
			border: 1px solid #000;
			margin-bottom: vw(80);
			&:not(:last-child){
				position: relative;
				&:after{
					content: '';
					width: vw(64);
					height: vw(46);
					background: url('../images/ic_arrow.png') no-repeat;
					background-size: contain;
					display: block;
					position: absolute;
					bottom: vw(-65);
					left: 50%;
					transform: translateX(-50%);
				}
			}
			dt{
				font-size: vw(28);
				line-height: 1;
				color: #fff;
				background: #464646;
				font-weight: bold;
				padding: vw(20);
				&:before{
					counter-increment: number;
					content: counter(number) ". ";
				}
			}
			dd{
				padding: vw(30);
				display: flex;
				flex-wrap: wrap;
				figure{
					width: 100%;
					flex: 0 0 100%;
					order: 1;
					margin-bottom: vw(30);
					img{
						width: vw(520);
						height: auto;
						margin: 0 auto;
						display: block;
					}
				}
				.flow_ct{
					width: 100%;
					flex: 0 0 100%;
					order: 2;
					p{
						margin-bottom: vw(40);
						font-size: vw(24);
						line-height: 2;
						font-family: Meiryo, sans-serif;
					}
				}
			}
		}
	}
}
.contact{
	background: #fff;
	padding: vw(40) 0;
}