@charset "UTF-8";
@font-face {
  font-family: 'book_antiquabold';
  src: url("../fonts/book_antiqua-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  -moz-font-feature-settings: "palt";
       font-feature-settings: "palt";
}

html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

figure, picture {
  font-size: 0;
}

picture {
  display: block;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flw {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.jc_sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc_c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ai_c {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px), print {
  .header {
    background: #000;
    padding: 20px 0 0;
  }
  .header .hd_top .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hd_top .row .hd_logo a img {
    width: 179px;
    height: auto;
  }
  .header .hd_top .row .hd_contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hd_top .row .hd_contact em {
    color: #fff;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1;
  }
  .header .hd_top .row .hd_contact a {
    color: #fff;
    font-size: 2.4rem;
    line-height: 0;
    pointer-events: none;
    font-weight: bold;
    position: relative;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px 5px 45px;
    margin-left: 10px;
  }
  .header .hd_top .row .hd_contact a:before {
    content: '';
    width: 40px;
    height: 30px;
    background: #fff url(../images/ic_phone.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header .hd_bottom .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .hd_bottom .nav ul li a {
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    padding: 23px 0;
    display: inline-block;
  }
  .header .hd_bottom .nav ul li a:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
         border-radius: 50%;
    display: block;
    background: #c50082;
    left: 0;
    right: 0;
    top: 34%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0) scale(0);
       -moz-transform: translate3d(0, 50px, 0) scale(0);
            transform: translate3d(0, 50px, 0) scale(0);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
       -moz-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
       -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    z-index: -1;
  }
  .header .hd_bottom .nav ul li a:hover {
    opacity: 1;
  }
  .header .hd_bottom .nav ul li a:hover:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
       -moz-transform: translate3d(0, 0px, 0) scale(1);
            transform: translate3d(0, 0px, 0) scale(1);
  }
  .header.fixed .hd_bottom {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 199;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
         box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
    min-width: 1200px;
  }
  .footer .ft_top {
    background: #ececec;
    padding: 30px 0;
  }
  .footer .ft_top .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .ft_top .row .ft_top_left .ft_logo a {
    display: block;
    line-height: 0;
  }
  .footer .ft_top .row .ft_top_left .ft_logo a img {
    width: 191px;
    height: auto;
  }
  .footer .ft_top .row .ft_top_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .ft_top .row .ft_top_right .ft_contact {
    margin-right: 20px;
    padding-top: 5px;
  }
  .footer .ft_top .row .ft_top_right .ft_contact a {
    pointer-events: none;
    display: block;
    font-family: 'book_antiquabold';
    font-size: 3.6rem;
    line-height: 1;
    letter-spacing: 1px;
  }
  .footer .ft_top .row .ft_top_right .ft_contact em {
    font-style: normal;
    display: block;
    text-align: right;
  }
  .footer .ft_top .row .ft_btn a {
    width: 350px;
    font-size: 1.4rem;
    line-height: 1;
    background: #c50082;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    color: #fff;
    padding: 23px;
  }
  .footer .ft_top .row .ft_btn a:after {
    content: '';
    width: 8px;
    height: 12px;
    background: url(../images/ic_arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    -moz-transition: transform .5s ease-out, -moz-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out, -moz-transform .5s ease-out;
  }
  .footer .ft_top .row .ft_btn a:hover:after {
    -webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
  }
  .footer .copyright {
    background: #000;
    text-align: center;
  }
  .footer .copyright p {
    padding: 13px 0;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1;
  }
  .show_sp {
    display: none !important;
  }
  .row {
    margin: 0 auto;
    max-width: 981px;
    width: 100%;
  }
  .container {
    min-width: 981px;
    overflow: hidden;
  }
  .head_tt {
    font-family: 'book_antiquabold';
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: 9px;
    margin-bottom: 5px;
    text-align: center;
  }
  .head_tt:before {
    content: '';
    width: 50px;
    height: 3px;
    background: #000;
    display: block;
    margin: 0 auto 40px;
  }
  .sub_stt {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: bold;
    color: #000000;
    display: block;
    margin: 0 auto 62px;
    padding: 9px 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: 1px;
  }
  .contact_box {
    background: #c50082;
    padding: 30px 20px;
  }
  .contact_box p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #fff;
    font-family: Meiryo, sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }
  .contact_box_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: -10px;
    margin-left: -10px;
  }
  .contact_box_inner_phone {
    width: 50%;
    background: #fff;
    padding: 9px 10px 8px;
    text-align: left;
    margin: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_box_inner_phone:before {
    content: '';
    width: 34px;
    height: 26px;
    background: url(../images/ic_phone_pink.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-right: 20px;
  }
  .contact_box_inner_phone a {
    display: block;
    line-height: 0.8;
    pointer-events: none;
    color: #c50082;
    font-family: 'book_antiquabold';
    font-size: 3.8rem;
    line-height: 1;
  }
  .contact_box_inner_phone em {
    font-style: normal;
    display: block;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    color: #c50082;
  }
  .contact_box_inner_mail {
    width: 50%;
    margin: 0 10px;
    background: #fff;
  }
  .contact_box_inner_mail a {
    display: block;
    pointer-events: none;
    color: #c50082;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    padding: 30px 0;
    font-family: Meiryo, sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_box_inner_mail a:before {
    content: '';
    width: 22px;
    height: 18px;
    background: url(../images/ic_mail.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    margin-right: 20px;
    top: -1px;
    position: relative;
  }
  .qa_list dt {
    background: #464646;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    padding: 8px 20px 8px 45px;
    font-weight: 500;
    position: relative;
  }
  .qa_list dt:before {
    content: 'Q.';
    position: absolute;
    top: 7px;
    left: 20px;
  }
  .qa_list dd {
    padding: 20px 20px 20px 45px;
    font-size: 1.4rem;
    line-height: 2;
    font-family: Meiryo, sans-serif;
    color: #000;
    position: relative;
  }
  .qa_list dd:before {
    content: 'A.';
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: #000;
    padding: 5.20833vw 0;
  }
  .header .hd_top .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hd_top .row .hd_logo a {
    display: block;
    line-height: 0;
  }
  .header .hd_top .row .hd_logo a img {
    width: 46.61458vw;
    height: auto;
  }
  .header .hd_top .row .menu.open .icon_menu .icon_inner {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
       -moz-transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
            transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
  }
  .header .hd_top .row .menu.open .icon_menu .icon_inner::before {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
  }
  .header .hd_top .row .menu.open .icon_menu .icon_inner::after {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
       -moz-transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
            transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
  }
  .header .hd_top .row .menu .icon_menu {
    position: relative;
    width: 7.03125vw;
    height: 5.20833vw;
    cursor: pointer;
  }
  .header .hd_top .row .menu .icon_menu .icon_inner, .header .hd_top .row .menu .icon_menu .icon_inner::before, .header .hd_top .row .menu .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 0.52083vw;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    background: #fff;
  }
  .header .hd_top .row .menu .icon_menu .icon_inner {
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
            transition-duration: .4s;
    display: block;
    top: 0;
    left: 0;
  }
  .header .hd_top .row .menu .icon_menu .icon_inner::before, .header .hd_top .row .menu .icon_menu .icon_inner::after {
    content: "";
    display: block;
  }
  .header .hd_top .row .menu .icon_menu .icon_inner::before {
    top: 2.34375vw;
    -webkit-transition: opacity .15s ease .4s;
    -moz-transition: opacity .15s ease .4s;
    transition: opacity .15s ease .4s;
  }
  .header .hd_top .row .menu .icon_menu .icon_inner::after {
    top: 4.6875vw;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header .hd_bottom .nav {
    position: absolute;
    left: 0;
    z-index: 999;
    width: 100%;
    overflow: scroll;
    visibility: visible;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    background: black;
    overflow: scroll;
    opacity: 0;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .hd_bottom .nav.open {
    opacity: 1;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    visibility: visible;
  }
  .header .hd_bottom .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header .hd_bottom .nav ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
  .header .hd_bottom .nav ul li a {
    font-size: 3.90625vw;
    line-height: 1;
    color: #fff;
    display: block;
    text-align: center;
    padding: 5.20833vw 0;
  }
  .header .hd_bottom .nav ul li:not(:last-child) a {
    border-bottom: 1px solid #fff;
  }
  .header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }
  .footer .ft_top {
    background: #ececec;
    padding: 5.20833vw 0;
    text-align: center;
  }
  .footer .ft_top .row .ft_top_left {
    margin-bottom: 3.90625vw;
  }
  .footer .ft_top .row .ft_top_left .ft_logo a {
    display: block;
    line-height: 0;
  }
  .footer .ft_top .row .ft_top_left .ft_logo a img {
    width: 49.73958vw;
    height: auto;
    margin: 0 auto;
  }
  .footer .ft_top .row .ft_top_right .ft_contact {
    margin-bottom: 3.90625vw;
    text-align: center;
  }
  .footer .ft_top .row .ft_top_right .ft_contact a {
    display: block;
    line-height: 0;
    margin-bottom: 1.30208vw;
    font-family: 'book_antiquabold';
    font-size: 5.98958vw;
    line-height: 1;
    letter-spacing: 1px;
  }
  .footer .ft_top .row .ft_top_right .ft_contact em {
    font-style: normal;
    display: block;
    font-size: 3.90625vw;
  }
  .footer .ft_top .row .ft_btn a {
    width: 100%;
    font-size: 3.90625vw;
    line-height: 1;
    background: #c50082;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    color: #fff;
    padding: 5.20833vw 2.99479vw;
  }
  .footer .ft_top .row .ft_btn a:after {
    content: '';
    width: 2.08333vw;
    height: 3.125vw;
    background: url(../images/ic_arrow.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
  }
  .footer .copyright {
    background: #000;
    text-align: center;
  }
  .footer .copyright p {
    padding: 3.90625vw 0;
    color: #fff;
    font-size: 3.90625vw;
    line-height: 1;
  }
  .show_pc {
    display: none !important;
  }
  .row {
    padding: 0 3.90625vw;
  }
  .head_tt {
    font-family: 'book_antiquabold';
    font-size: 5.46875vw;
    line-height: 1;
    letter-spacing: 1.17188vw;
    margin-bottom: 1.30208vw;
    text-align: center;
  }
  .head_tt:before {
    content: '';
    width: 13.02083vw;
    height: 0.78125vw;
    background: #000;
    display: block;
    margin: 0 auto 5.20833vw;
  }
  .sub_stt {
    text-align: center;
    font-size: 3.125vw;
    line-height: 1;
    font-weight: bold;
    color: #000000;
    display: block;
    margin: 0 auto 8.07292vw;
    padding: 1.17188vw 2.60417vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: 1px;
  }
  .contact_box {
    background: #c50082;
    padding: 5.20833vw 2.60417vw;
  }
  .contact_box p {
    font-size: 3.38542vw;
    line-height: 1.5;
    color: #fff;
    font-family: Meiryo, sans-serif;
    text-align: center;
    margin-bottom: 3.90625vw;
  }
  .contact_box_inner_phone {
    background: #fff;
    padding: 2.60417vw 1.30208vw;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5.20833vw;
  }
  .contact_box_inner_phone:before {
    content: '';
    width: 8.85417vw;
    height: 6.77083vw;
    background: url(../images/ic_phone_pink.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    margin-right: 3.90625vw;
  }
  .contact_box_inner_phone a {
    display: block;
    line-height: 0.8;
    pointer-events: none;
    color: #c50082;
    font-family: 'book_antiquabold';
    font-size: 6.25vw;
    line-height: 1;
  }
  .contact_box_inner_phone em {
    font-style: normal;
    display: block;
    font-size: 3.125vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    color: #c50082;
  }
  .contact_box_inner_mail {
    background: #fff;
  }
  .contact_box_inner_mail a {
    display: block;
    pointer-events: none;
    color: #c50082;
    font-size: 3.38542vw;
    line-height: 1;
    text-align: center;
    padding: 5.20833vw 0;
    font-family: Meiryo, sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_box_inner_mail a:before {
    content: '';
    width: 5.72917vw;
    height: 4.6875vw;
    background: url(../images/ic_mail.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    margin-right: 3.90625vw;
    top: -1px;
    position: relative;
  }
  .qa_list dt {
    background: #464646;
    color: #fff;
    font-size: 3.38542vw;
    line-height: 1.5;
    font-family: Meiryo, sans-serif;
    padding: 2.60417vw 2.60417vw 2.60417vw 7.16146vw;
    font-weight: 500;
    position: relative;
  }
  .qa_list dt:before {
    content: 'Q.';
    position: absolute;
    top: 2.34375vw;
    left: 2.60417vw;
  }
  .qa_list dd {
    padding: 2.60417vw 2.60417vw 2.60417vw 7.16146vw;
    font-size: 3.125vw;
    line-height: 2;
    font-family: Meiryo, sans-serif;
    color: #000;
    position: relative;
  }
  .qa_list dd:before {
    content: 'A.';
    position: absolute;
    top: 2.60417vw;
    left: 2.60417vw;
  }
}

.effect {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.delay_03 {
  -webkit-transition: all 1s ease 0.3s;
  -moz-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
}

.delay_06 {
  -webkit-transition: all 1s ease 0.6s;
  -moz-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.delay_09 {
  -webkit-transition: all 1s ease 0.9s;
  -moz-transition: all 1s ease 0.9s;
  transition: all 1s ease 0.9s;
}

.delay_12 {
  -webkit-transition: all 1s ease 1.2s;
  -moz-transition: all 1s ease 1.2s;
  transition: all 1s ease 1.2s;
}

.delay_15 {
  -webkit-transition: all 1s ease 1.5s;
  -moz-transition: all 1s ease 1.5s;
  transition: all 1s ease 1.5s;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.active {
  opacity: 1;
}

.slideUp {
  -webkit-transform: translate3d(0, 100px, 0);
     -moz-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.slideUp.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToRight {
  -webkit-transform: translate3d(-100px, 0, 0);
     -moz-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  opacity: 0;
}

.slideToRight.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slideToLeft {
  -webkit-transform: translate3d(100px, 0, 0);
     -moz-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  opacity: 0;
}

.slideToLeft.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.maskToRight {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  overflow: hidden;
}

.maskToRight::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #fff;
  -webkit-transition: all 0.8s linear 0.6s;
  -moz-transition: all 0.8s linear 0.6s;
  transition: all 0.8s linear 0.6s;
  z-index: 2;
}

.maskToRight.active::before {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.waveText {
  display: inline-block;
  will-change: transform;
  -webkit-animation-name: waveText;
     -moz-animation-name: waveText;
          animation-name: waveText;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
